@import "src/styles";

.page-box {
  margin: auto;
  text-align: center;
  padding: 20px 0px;
}

.bg2 {
  background-color: $background-color2;
  padding: 30px 5%;
}

.titles {
  color: $navigation-color;
}

.title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 35px;

  @media screen and (max-width: 400px) {
    font-size: 25px;
    line-height: 25px;
  }
}

.subtitle {
  padding: 10px 0px;
}

.carousel {
  width: 650px;
  text-align: center;
  margin: auto;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}
