<div class="page-box">
  <h2 id="about-us-label" tabindex="0">About Us</h2>

  <div class="bg2">
    <div class="titles">
      <h3 class="subtitle" tabindex="0">
        Members of our team have been essential behind the planning and overall success of Find Dining Scarborough.
        We continue to work collaboratively with them to not only maintain our platform but strive towards our collective
        goal of helping the Scarborough community.
      </h3>
    </div>
    <div class="carousel" tabindex="0">
      <ivy-carousel [images]="partners" [margin]="20" [arrowsOutside]="arrowsOutside" [borderRadius]="20" [cellWidth]="200"
        [height]="300">
      </ivy-carousel>
    </div>
  </div>
</div>
