@import "src/styles";

.page-box {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.form-box {
  width: 60%;
  margin: auto;
  padding: 40px 50px 40px 50px;
  border-color: #dddddd;
  border-style: solid;
  border-radius: 20px;
  background-color: white;
  text-align: left;

  @media screen and (max-width: 1100px) {
    width: 80%;
  }
  @media screen and (max-width: 400px) {
    padding: 40px 25px 40px 25px;
  }
}

.sub-title {
  font-weight: bold;
  padding-top: 10px;
}
