<div class="page-box">
  <h2 id="about-us-label" tabindex="0">About Us</h2>

  <div class="bg2">
    <div class="titles">
      <h3 class="subtitle" tabindex="0">
        Find Dining is brought to you through a partnership with the City of
        Toronto, U of T Scarborough, and Centennial College.
      </h3>
    </div>
    <div class="carousel" tabindex="0">
      <ivy-carousel [images]="partners" [margin]="20"
        [arrowsOutside]="arrowsOutside" [borderRadius]="20" [cellWidth]="200"
        [height]="300">
      </ivy-carousel>
    </div>
  </div>
</div>
