<div class="page-box">
  <h2 id="about-us-label" tabindex="0">About Us</h2>

  <div class="bg2">
    <div class="titles">
      <h3 class="subtitle" tabindex="0">
        Find Dining is brought to you through a partnership with the City of
        Toronto, U of T Scarborough, and Centennial College.
      </h3>
    </div>
    <div class="carousel" fxLayout="row" fxLayoutGap="20px" tabindex="0">
      <div *ngFor="let partner of partners">
        <app-partner-card [partner]="partner"></app-partner-card>
      </div>
    </div>
  </div>
</div>
