{% extends "verify_email/verify_base.html" %}
{% load static %}

{%block content%}


<div class="container">
    <div class="row" style="margin: 100px 0px; text-align: center; font-family: Arial, Helvetica, sans-serif;">
        <div class="col">
            <img src="{% static 'images/check_mark.png' %}" alt="checkmark" style="width: 150px; height: auto; margin-bottom: 50px;" />
            <div class="container" style="padding-bottom: 10px;">
                <h1 style="font-size: calc(25px + 4vw);">
                    {{status}}
                </h1>
            </div>
            <hr style="background-color: black; width: 150px;">

            <div class="container">
                <h1 style="font-size: calc(15px + 1.5vw); color: rgba(119,119,119,255);">
                {{msg}}
                </h1>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <a href="{{link}}" class="btn btn-primary" style="border-radius: 20px; margin-left: 10px; margin-right: 10px;">
            Log In 
        </a>
    </div>

</div>

{%endblock%}