{% extends "admin/change_form.html" %}
{% load staticfiles %}
{% block extrahead %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script>
    var randomColorGenerator = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };
    var options = {
        responsive: true,
        maintainAspectRatio: true,
        legend: {
            display: false
        },
        title: {
            display: true,
            text: '{{ original.name }}',
            fontColor: 'black',
            fontSize: 24
        },
        animation: {
            animateScale: true,
            animateRotate: true
        },
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Date',
                    fontColor: 'black',
                    fontSize: 16
                },
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Number of Pageviews',
                    fontColor: 'black',
                    fontSize: 16
                }
            }]
        }
    };
    var endpoint = "/api/restaurant/" + window.location.href.split("/")[7] + "/traffic/";

    function barGraph(format_type) {
        let url = "";
        let chartId = "";
        let labels = [];

        if (format_type == "daily") {
            url = endpoint + "daily/";
            var date = new Date();
            y = date.getFullYear();
            m = date.getMonth();
            d = date.getDate();
            for (i = 1; i <= d; i++) {
                date = new Date(y, m, i);
                date = date.toLocaleDateString("en-US");
                labels.push(date);
            }
            options['scales']['xAxes'][0]['scaleLabel']['labelString'] = 'Date';
            chartId = "daily-chart";
        } else if (format_type == "hourly") {
            url = endpoint + "hourly/";
            for (i = 0; i <= 23; i++) {
                labels.push(i);
            }
            options['scales']['xAxes'][0]['scaleLabel']['labelString'] = 'Hour';
            chartId = "hourly-chart";
        }
        $.ajax({
            method: "GET",
            url: url,
            success: function (restaurant) {
                var restaurantdata = {};
                var data = [];
                restaurantdata['label'] = restaurant['name'];
                restaurantdata['backgroundColor'] = randomColorGenerator();
                for (i = 0; i < restaurant['rows'].length; i++) {
                    data.push(restaurant['rows'][i][1]);
                }
                restaurantdata['data'] = data;

                var ctx = document.getElementById(chartId);
                var lineChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [restaurantdata],
                    },
                    options: options
                })
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    barGraph("daily");
    // barGraph("hourly");
</script>
{% endblock %}
{% block content %}
<h1>Graphs</h1>
<hr>
<div style="margin:auto; width:50%;">
    <canvas id="daily-chart"></canvas>
</div>
<!-- <div style="margin:auto; width:50%;">
    <canvas id="hourly-chart"></canvas>
</div> -->
{{ block.super }}
{% endblock %}