{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script>
    var randomColorGenerator = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };
    var endpoint = "/api/restaurant/traffic/";

    function barGraph(format_type) {
        let url = "";
        let chartId = "";
        let xTitle = "";
        let graphTitle = "";
        let labels = [];

        if (format_type == "daily") {
            url = endpoint + "daily/";
            var date = new Date();
            y = date.getFullYear();
            m = date.getMonth();
            d = date.getDate();
            for (i = 1; i <= d; i++) {
                date = new Date(y, m, i);
                date = date.toLocaleDateString("en-US");
                labels.push(date);
            }
            xTitle = 'Date';
            chartId = "daily-chart";
            graphTitle = "Total Pageviews of All Restaurants of this Month";
        } else if (format_type == "hourly") {
            url = endpoint + "hourly/";
            for (i = 0; i <= 23; i++) {
                labels.push(i);
            }
            xTitle = 'Hour';
            chartId = "hourly-chart";
            graphTitle = "Total Pageviews of All Restaurants Per Hour of this Month";
        }

        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'right'
            },
            title: {
                display: true,
                text: graphTitle,
                fontColor: 'black',
                fontSize: 20
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: xTitle,
                        fontColor: 'black',
                        fontSize: 16
                    },
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Pageviews',
                        fontColor: 'black',
                        fontSize: 16
                    }
                }]
            }
        };

        $.ajax({
            method: "GET",
            url: url,
            success: function (restaurants) {
                //Use the data and create objects with the required parameters
                var restaurantData = {};
                restaurantData['label'] = "All Restaurants";
                restaurantData['backgroundColor'] = randomColorGenerator();
                var data = [];
                for (key in restaurants) {
                    for (i = 0; i < restaurants[key]['rows'].length; i++) {
                        if (data[i] == null) {
                            data.push(parseInt(restaurants[key]['rows'][i][1]));
                        } else {
                            data[i] += parseInt(restaurants[key]['rows'][i][1]);
                        }
                    }
                }
                restaurantData['data'] = data;
                var ctx = document.getElementById(chartId);
                var lineChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [restaurantData]
                    },
                    options: options
                });
            },
            error: function (err) {
                throw err;
            }
        });
    }

    async function paretoGraph(format_type) {
        let url = "";
        let chartId = "";
        let xTitle = "";
        let graphTitle = "";
        xTitle = 'Restaurant';
        if (format_type == "daily") {
            url = endpoint + "daily/";
            chartId = "top-10-daily-chart";
            graphTitle = 'Top 10 Most Viewed Restaurants of this Month';
        } else if (format_type == "alltime") {
            url = endpoint + "alltime/";
            chartId = "top-10-alltime-chart";
            graphTitle = 'Top 10 Most Viewed Restaurants of Alltime';
        }

        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: false
            },
            title: {
                display: true,
                text: graphTitle,
                fontColor: 'black',
                fontSize: 20
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: xTitle,
                        fontColor: 'black',
                        fontSize: 16
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Pageviews',
                        fontColor: 'black',
                        fontSize: 16
                    }
                }]
            }
        };

        await $.ajax({
            method: "GET",
            url: url,
            success: function (restaurants) {
                //Use the data and create objects with the required parameters
                var restaurantList = [];
                for (key in restaurants) {
                    let restaurantData = {};
                    restaurantData['label'] = restaurants[key]['name'];
                    restaurantData['backgroundColor'] = randomColorGenerator();
                    let sum = 0;
                    for (i = 0; i < restaurants[key]['rows'].length; i++) {
                        sum += parseInt(restaurants[key]['rows'][i][1]);
                    }
                    restaurantData['data'] = [sum];
                    restaurantList.push(restaurantData);
                }

                var labels = [];
                var datasets = [];
                var size = 0;
                if (restaurantList.length <= 10) {
                    size = restaurantList.length;
                } else {
                    size = 10;
                }

                //From the data, select the top 10 highest viewed restaurant
                for (let i = 0; i < size; i++) {
                    let max = 0;
                    let tempIndex = 0;
                    for (let j = 0; j < restaurantList.length; j++) {
                        if (restaurantList[j] != null && restaurantList[j]['data'][0] >= max) {
                            max = restaurantList[j]['data'][0];
                            tempIndex = j;
                        }
                    }
                    if (max == 0) {
                        break;
                    }
                    labels.push(restaurantList[tempIndex]['label']);
                    datasets.push(restaurantList[tempIndex]);
                    delete restaurantList[tempIndex];
                }

                //Separate labels are not needed so we must create new objects without label property
                let backgroundColor = [];
                let data = [];
                for (let i = 0; i < datasets.length; i++) {
                    backgroundColor.push(datasets[i]['backgroundColor']);
                    data.push(datasets[i]['data'][0]);
                }

                var ctx = document.getElementById(chartId);
                var lineChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: backgroundColor
                        }]
                    },
                    options: options
                });
            },
            error: function (err) {
                throw err;
            }
        });
    }
    $.when(paretoGraph("daily")).then(barGraph("daily")).then(barGraph("hourly"));
    // paretoGraph("alltime");

    function toggleGraphs() {
        var graphs = document.getElementById('graphs');
        if (graphs.style.display == "none") {
            graphs.style.display = "block";
        } else {
            graphs.style.display = "none";
        }
    }

    function downloadAll() {
        var barDaily = document.getElementById("daily-chart");
        var barHourly = document.getElementById("hourly-chart");
        var paretoDaily = document.getElementById("top-10-daily-chart");
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");

        ctx.canvas.width = 1000;
        ctx.canvas.height = 1600;
        ctx.font = "bold 32px Arial";
        ctx.fillText("All Restaurants", 40, 45);
        ctx.drawImage(barDaily, 0, 50);
        ctx.drawImage(barHourly, 0, 550);
        ctx.drawImage(paretoDaily, -15, 1050);

        var pdf = new jsPDF({
            orientation: "portrait",
            unit: "pt",
            format: [750, 1175]
        });
        pdf.addImage(canvas, 'PNG', 0, 0);
        let date = new Date();
        let month = ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1).toString() : (date.getMonth() + 1).toString());
        let day = (date.getDate() < 10 ? "0" + date.getDate().toString() : date.getDate().toString());
        pdf.save('Find Dining Report - All Restaurants - ' + date.getFullYear().toString() + month + day + '.pdf');
    }
</script>
{% endblock %}
{% block content %}
<button class="button" type="button" onclick="toggleGraphs()" style="margin-bottom: 10px;">Show/Hide Graphs</button>
<div id="graphs" style="display: none; padding-top: 15px; padding-bottom: 75px;">
    <hr>
    <h1 style="font-weight: bold; font-size: 32px; display: inline;">All Restaurants</h1>
    <button class="button" type="button" onclick="downloadAll()" style="float: right; margin-top: 5px;">Export
        Graphs</button>
    <div style="margin:auto; width:1000px;">
        <canvas id="daily-chart"></canvas>
    </div>
    <div style="margin:auto; width:1000px;">
        <canvas id="hourly-chart"></canvas>
    </div>
    <div style="margin:auto; width:1000px;">
        <canvas id="top-10-daily-chart"></canvas>
    </div>
    <!-- <div style="margin:auto; width:100px;">
        <canvas id="top-10-alltime-chart"></canvas>
    </div> -->
    <hr>
</div>
{{ block.super }}
{% endblock %}