{% extends "admin/change_form.html" %}
{% load staticfiles %}
{% block extrahead %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script>
    var endpoint = "/api/restaurant/" + window.location.href.split("/")[7] + "/traffic/";

    var randomColorGenerator = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    function barGraph(format_type) {
        let url = "";
        let chartId = "";
        let xTitle = "";
        let graphTitle = "";
        let labels = [];
        if (format_type == "daily") {
            url = endpoint + "daily/";
            var date = new Date();
            y = date.getFullYear();
            m = date.getMonth();
            d = date.getDate();
            for (i = 1; i <= d; i++) {
                date = new Date(y, m, i);
                date = date.toLocaleDateString("en-US");
                labels.push(date);
            }
            xTitle = "Date";
            chartId = "daily-chart";
            graphTitle = "Total Pageviews of this Month";
        } else if (format_type == "hourly") {
            url = endpoint + "hourly/";
            for (i = 0; i <= 23; i++) {
                labels.push(i);
            }
            xTitle = "Hour";
            chartId = "hourly-chart";
            graphTitle = "Total Pageviews Per Hour of this Month";
        }

        let options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: false
            },
            title: {
                display: true,
                text: graphTitle,
                fontColor: 'black',
                fontSize: 24
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: xTitle,
                        fontColor: 'black',
                        fontSize: 16
                    },
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Pageviews',
                        fontColor: 'black',
                        fontSize: 16
                    }
                }]
            }
        };

        $.ajax({
            method: "GET",
            url: url,
            success: function (restaurant) {
                //Use the data and create objects with the required parameters
                var restaurantdata = {};
                var data = [];
                restaurantdata['label'] = restaurant['name'];
                restaurantdata['backgroundColor'] = randomColorGenerator();
                for (i = 0; i < restaurant['rows'].length; i++) {
                    data.push(restaurant['rows'][i][1]);
                }
                restaurantdata['data'] = data;

                var ctx = document.getElementById(chartId);
                var lineChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [restaurantdata],
                    },
                    options: options
                })
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    $.when(barGraph("daily")).then(barGraph("hourly"));

    function toggleGraphs() {
        var graphs = document.getElementById('graphs');
        if (graphs.style.display == "none") {
            graphs.style.display = "block";
        } else {
            graphs.style.display = "none";
        }
    }

    function downloadAll() {
        var restaurant_name = document.getElementById("restaurant-name").innerHTML;
        var barDaily = document.getElementById("daily-chart");
        var barHourly = document.getElementById("hourly-chart");
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");

        ctx.canvas.width = 1000;
        ctx.canvas.height = 1100;
        ctx.font = "bold 32px Arial";
        ctx.fillText(restaurant_name, 40, 45);
        ctx.drawImage(barDaily, 0, 50);
        ctx.drawImage(barHourly, 0, 550);

        var pdf = new jsPDF({
            orientation: "portrait",
            unit: "pt",
            format: [750, 790]
        });
        pdf.addImage(canvas, 'PNG', 0, 0);
        let date = new Date();
        let month = ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1).toString() : (date.getMonth() + 1).toString());
        let day = (date.getDate() < 10 ? "0" + date.getDate().toString() : date.getDate().toString());
        pdf.save('Find Dining Report - ' + restaurant_name + ' - ' + date.getFullYear().toString() + month + day + '.pdf');
    }
</script>
{% endblock %}
{% block content %}
<button class="button" type="button" onclick="toggleGraphs()" style="margin-bottom: 10px;">Toggle Graphs</button>
<div id="graphs" style="display: none; padding-top: 15px; padding-bottom: 75px;">
    <hr>
    <h1 id="restaurant-name" style="font-weight: bold; font-size: 32px;">{{ original.name }}</h1>
    <button class="button" type="button" onclick="downloadAll()" style="float: right;">Export Graphs</button>
    <div style="margin:auto; width:1000px;">
        <canvas id="daily-chart"></canvas>
    </div>
    <div style="margin:auto; width:1000px;">
        <canvas id="hourly-chart"></canvas>
    </div>
</div>
{{ block.super }}
{% endblock %}