<div class="carousel">
  <!-- slides -->
  <ul class="slides">
    <li
      class="slide"
      *ngFor="let slide of slides; let i = index"
      [@slideState]="getAnimationSlideState(i)"
    >
      <ng-container
        *ngTemplateOutlet="slideTemplateRef; context: { $implicit: slide }"
      ></ng-container>
    </li>
  </ul>
  <!-- navigations & thumbnails -->
  <div
    class="carousel-arrows"
    [class.carousel-arrows-outside]="arrowsOutside"
    [class.carousel-dark-arrows]="darkArrows"
    *ngIf="slides.length > 1 && isNavigationVisible"
  >
    <div
      class="carousel-arrow carousel-arrow-prev"
      (click)="select(activeSlides.previous)"
      (keyup.enter)="select(activeSlides.previous)"
      aria-label="previous"
      tabindex="0"
    ></div>
    <div
      class="carousel-arrow carousel-arrow-next"
      (click)="select(activeSlides.next)"
      (keyup.enter)="select(activeSlides.next)"
      aria-label="next"
      tabindex="0"
    ></div>
  </div>

  <div class="navigations">
    <div>
      <ol class="thumbnails" *ngIf="slides.length > 1 && isThumbnailsVisible">
        <li
          *ngFor="let slide of slides; let i = index"
          [class.is-active]="i === activeSlides.current"
          (click)="select(i)"
          (keyup.enter)="select(i)"
        >
          <ng-container
            *ngTemplateOutlet="
              thumbnailTemplateRef;
              context: { $implicit: slide }
            "
          ></ng-container>
        </li>
      </ol>
    </div>
  </div>
</div>
