<div class="page-box">
  <h2 id="privacy-policy-label" tabindex="0">Privacy Policy</h2>
  <div class="form-box" role="main" aria-labelledby="privacy-policy-label">
    <p class="sub-title" tabindex="0">Lorem ipsum</p>
    <p tabindex="0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet quam placerat dolor consequat, non imperdiet felis dapibus. Donec sed tellus quis tellus dignissim consequat. Proin vitae enim mi. Duis ornare purus arcu, ac eleifend ipsum fermentum eu. Donec viverra tincidunt neque eu facilisis. Donec tristique, risus nec mattis maximus, nulla massa interdum turpis, aliquet iaculis enim arcu id turpis. Nulla sit amet dui suscipit tortor pharetra vestibulum sed sit amet sapien. Morbi in ex felis. Fusce lectus lectus, interdum eu orci eu, euismod dignissim mauris.
    </p>
  </div>
</div>
