@import "src/styles";
.map {
  width: 100%;
  height: 50%;
}

.header-title {
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-size: 50px;
}

.input-group {
  width: 50%;
  align-content: center;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (max-width: 900px) {
    width: 95%;
    margin: 0 10px;
  }
}

.search-icons {
  color: black;
  size: 30px;
}

.input-group-lg,
.input-addon {
  height: 38px;
  border-radius: 40px;
  // width: 100px;
  align-content: center;
}

.search {
  padding: 30px 50px;
  border-radius: 40px;
}

.filter-button {
  display: none;
}

.filters {
  margin-top: 20px;
}

.filters-mobile {
  display: none;
}

.restaruant-listings-box {
  margin: auto;
  padding: 20px;
  width: 70%;
  height: auto;
  padding: 10px;

  @media screen and (max-width: 1300px) {
    width: 100%;
    overflow: hidden;
  }
}

.show-btn {
  margin-left: 10px;
  max-width: 600px;
}

.dishes-listings-box {
  margin: auto;
  padding: 20px;
  width: 100%;
  height: auto;
  padding: 5%;
}

@media screen and (max-width: 767px) {

.restaurant-container {
  position: relative;
}

.restaruant-listings-box {
  min-height: 200px;
}

.filter-button {
  display: block;
}

.filters {
  display: none;
}

.filters-mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 200px;
  width: 60%;
  min-width: 150px;
  z-index: 1;
  background-color: white;
  transition: 1s;
  overflow-y: scroll;
}

.restaurant-card-container {
  width: fit-content;
  margin: auto;
}

.show-btn {
  margin: 20px auto;
  width: 100%;
}

}