@import "src/styles";

.setting-page {
  text-align: center;
  height: auto;
  padding: 20px 20px 20px 20px;
}

input {
  margin: auto;
  width: 30%;
}

button {
  margin: 5px;
  margin-top: 20px;
}

p {
  margin: 75px 20%;
}
