<div *ngIf="role == 'RO'">
  <h2 class="title">Edit Posts</h2>

  <div *ngIf="posts.length != 0" style="text-align: center;">
    <button class="btn new-post" (click)="openPostModal(postModal)" placement="top" ngbTooltip="Add a Post">
      NEW POST
    </button>
  </div>

  <div *ngIf="posts.length == 0" style="text-align: center;">
    <h2 class="no-posts">No Posts!</h2>
    <br />
    <img class="empty-image" src="assets/images/undraw_begin_chat_c6pj.png" />
    <br />
    <button
      *ngIf="role == 'RO'"
      class="btn convo-start"
      (click)="openPostModal(postModal)"
      placement="top" ngbTooltip="Add a Post"
    >
      START A CONVERSATION
    </button>
  </div>

  <div
    *ngFor="let post of posts; let i = index"
    class="d-flex justify-content-center"
  >
    <app-post
      [post]="post"
      [role]="role"
      [id]="userId"
    ></app-post>

    <div *ngIf="role == 'RO'" class="text-right">
      <button
        class="btn trashBtn"
        (click)="openDeleteModal(deleteModal, post._id, i)"
        placement="top" ngbTooltip="Delete The Post"
        aria-label="Delete The Post"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>

  <div class="text-center">
    <button class="btn saveBtn" (click)="back()">
      SAVE
    </button>
  </div>
</div>

<ng-template #postModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Create Content</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-box" role="form">
      <div class="form-group">
        <label for="content">
          Content <app-required-star></app-required-star>
        </label>
        <textarea
          type="text"
          class="form-control"
          id="content"
          rows="5"
          [(ngModel)]="content"
          placeholder="Enter content here..."
          aria-required="true"
          required
        ></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn postBtn cancel" (click)="modal.dismiss('Cross click')">
        CANCEL
      </button>
      <button class="btn postBtn" (click)="createPost()">
        CREATE POST
      </button>
    </div>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Delete Confirmation</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-box">
      <div class="form-group">
        Are you sure you would like to delete this?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button
        class="btn postBtn cancel"
        (click)="modal.dismiss('Cross click')"
      >
        CANCEL
      </button>
      <button class="btn postBtn" (click)="deleteContent()">
        CONFIRM
      </button>
    </div>
  </div>
</ng-template>
