<div class="card cardBox">
  <div class="col">
    <div class="card-body">
      <h5 class="card-title" id="card-title">{{ category }}</h5>
      <hr class="line" />
      <div role="group" aria-labelledby="card-title">
        <div *ngFor="let sub of subcategories; let i = index" class="form-check" >
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              id="{{ sub }}"
              [(ngModel)]="checkMap[i]"
              (ngModelChange)="sendList()"
            />
            {{ sub }}
          </label>
        </div>
      </div>
    </div>

    <div class="card-body-mobile">
      <button class="btn dropdown-toggle" type="button" data-toggle="collapse" [attr.data-target]="'#' + removeSpace(category)">
        {{ category }}
      </button>

      <div role="group" aria-labelledby="card-title" class="filter-dropdown collapse" id="{{removeSpace(category)}}">
        <div *ngFor="let sub of subcategories; let i = index" class="form-check" >
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              id="{{ sub }}"
              [(ngModel)]="checkMap[i]"
              (ngModelChange)="sendList()"
            />
            {{ sub }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
