<div class="card cardBox">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title" id="card-title">{{ category }}</h5>
        <hr />
        <div role="group" aria-labelledby="card-title">
          <div *ngFor="let sub of subcategories; let i = index" class="form-check" >
            <input
              type="checkbox"
              class="form-check-input"
              id="{{ sub }}"
              [(ngModel)]="checkMap[i]"
              (ngModelChange)="sendList()"
            />
            <label class="form-check-label" for="{{ sub }}">{{ sub }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  