@import "src/styles";

.cardBox {
  width: 200px;
  height: auto;
  flex: 0 0 auto;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

.cardBox::-webkit-scrollbar {
  display: none;
}

.card-body {
  padding: 15px 5px;
  text-align: left;
  width: 160px;
}

.card-body-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  
.cardBox {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  width: auto;
}

.card-body {
  display: none;
}

.col {
  padding: 0;
}

.card-body-mobile {
  display: block;
  width: 100%;
  padding: 0px;
  text-align: left;
}

.dropdown-toggle-btn {
  width: 100%;
  margin: 0;
  border-bottom: solid white 1px;
  border-radius: 0;
  //font-size: 4vw;
  text-align: center;
  height: fit-content;
  white-space: normal;
}

.dropdown-toggle-btn:hover .icons {
  color: #00a4e5;
}

.dropdown-toggle-btn:hover .number {
  color: white;
}

.filter-dropdown {
  width: 100%;
  padding: 20px 10px;
  border-radius: 0;
  transition: 1s;
}

.number {
  background-color: #00a4e5;
  height: 21px;
  width: 21px;
  border-radius: 50%;
}

.icons {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

}