<!--<div [innerHTML]="htmlString"></div>-->

<div class="featured-container">
    <h2 class="header-title">Featured</h2>
    <div class="row no-gutters featured-row">
        <div class="col-md-4 mx-auto" *ngFor="let article of featuredArticles" data-aos="fade-right">
            <app-article-featured-card [article]="article"></app-article-featured-card>
        </div>
    </div>
</div>

<div class="displayed-container">
    <div class="row no-gutters articles-row">
        <div class="col-md-4" *ngFor="let article of displayedArticles" data-aos="fade-up">
            <app-article-common-card [article]="article"></app-article-common-card>
        </div>
    </div>
</div>