@import "src/styles";

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}

.article-body {
    height: fit-content;
    overflow: hidden;
}

.icons {
    color: #0078c2;
    margin: auto;
    font-size: 2rem;
    transition: 0.2s;
}

.icons:hover {
    cursor: pointer;
    color: #00a4e5;
}

/* HEADER */
.header-container {
    background-image: url(../../../assets/images/articles_header.png);
    background-position: center -550px;
    background-size: 2100px auto;
	background-repeat: no-repeat;
    overflow: hidden;
}

.title-row {
    min-height: 200px;
    width: 100%;
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-row h1 {
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

.underline {
    border-bottom: #00a4e5 solid 5px;
    width: 75px;
    padding-top: 15px;
    margin: auto;
}

.nav-header {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 16%;
    color: white;
    font-size: 1.1rem;
}

.nav-header a {
    transition: all 0.2s ease-in-out;
}

.nav-header a:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.carousel-row {
    min-height: 400px;
    padding: 0 20vw;
    background-color: rgba($color: #fff, $alpha: 0.75);
}

.carousel-row-mobile {
    display: none;
}

/* DISPLAYED ARTICLES */
.main-container {
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0px 50px;
    min-height: 300px;
}

.article-row {
    margin: 0px auto;
    padding-bottom: 50px;
    max-width: 1700px;
}

.article-mobile-row {
    display: none;
}

.headline-card {
    padding: 10px 100px;
}

.article-title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.article-title a {
    color: black;
}

.article-subtitle {
    text-align: center;
    color: #00a4e5;
    margin: 0 10px;
    width: fit-content;
}

.article-subtitle h3 {
    line-height: 0.5rem;
}

.article-content {
    margin-top: 25px;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.article-mobile {
    display: none;
}

.filter {
    min-width: 200px;
}

.side-filter {
    display: none;
}

.article-list {
    min-height: 620px;
    position: relative;
    -webkit-transition: 1s;
    transition: 1s;
    display: block;
    opacity: 1;
}

.article-container {
    min-height: 620px;
    //padding-right: 10px;
    padding: 0 30px;
    opacity: 0;
    display: none;
    -webkit-transition: 1s;
    transition: 1s;
}

.close-btn-container {
    margin-bottom: 25px;
}

.nav-pills {
    margin-bottom: 0;
    border: none;
    padding: 10px 100px;
}

.nav-pills .nav-link {
    transition: all 0.2s ease-in-out;
}

.nav-pills .nav-link {
    margin-right: 1rem;
    border: none;
    background-color: #00a4e5;
    color: white;
    cursor: pointer;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active:hover {
    border: none;
    background-color: white;
    color: #00a4e5;
    cursor: pointer;
}

.nav-pills .nav-link.active {
    background-color: #007faa;
    color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1301px) {

.main-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    position: relative;
    min-height: 745px;
}

.article-row {
    min-height: 620px;
}

.filter {
    display: none;
}

.article-list-col {
    display: none;
}

.article-mobile {
    display: block;
}

.article-list-mobile {
    min-height: 620px;
    -webkit-transition: 1s;
    transition: 1s;
    display: block;
    opacity: 1;
}

.headline-card {
    padding: 10px 0px;
}

.article-container-mobile {
    min-height: 620px;
    opacity: 1;
    display: none;
    -webkit-transition: 1s;
    transition: 1s;
}

.side-filter {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    width: 24rem;
    max-width: 70%;
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
    margin-right: -400px;
}

.carousel-row {
    display: none;
}

.carousel-row-mobile {
    display: block;
    min-height: 400px;
    background-color: rgba($color: #fff, $alpha: 0.75);
    padding: 0 5rem;
}

.nav-pills {
    padding: 10px 0;
}

}

@media screen and (max-width: 839px) {

.underline {
    padding-top: 0px;
}

.nav-pills {
    padding: 10px 0px;
}

}

@media screen and (max-width: 550px) {

.title-row {
    min-height: 200px;
    width: 100%;
    position: relative;
}

.title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-row h1 {
    font-size: 2rem;
}

.nav-header {
    right: 0;
}

.nav-header .nav-item {
    font-size: 0.9rem;
}

.carousel-row-mobile {
    padding: 0 1rem;
}

.main-container {
    padding: 0px 5px;
}

.article-container-mobile {
    margin: 0px 10px;
}

}