<ng-template #changePassword let-modal role="form">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-profile-change-password-title">Change Password</h2>
        <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="aFormGroup">
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <div class="input-group">
            <input
              formControlName="oldPassword"
              id="oldPassword"
              type="password" 
              class="form-control"
              aria-required="true" />
            </div>
          </div>
        
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <div class="input-group">
             <input 
              formControlName="newPassword" 
              id="newPassword"
              type="password"  
              class="form-control"
              aria-required="true" />
            </div>
          </div>
        
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-group">
            <input 
              formControlName="confirmPassword" 
              id="confirmPassword"
              type="password"  
              class="form-control"
              aria-required="true" />
            </div>
          </div>
        
          <button class="btn btn-primary" (click)="changeUserPassword()">Change Password</button>
        </form>
    </div>


</ng-template>
