<div class="container">


  <div class="form" *ngIf="!isLoggedIn">
    <img src="assets/images/find_dining_logo_small.png" />
    <div class="tab-header">
      <div class="active">Sign Up</div>
      <div>Sign In</div>
    </div>
    <div class="tab-content">
      <div class="tab-body active">


        <form *ngIf="!isSignupSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit('signup')" #f="ngForm"
          novalidate>
          <div class="form-element">
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              {{ errorMessage }}
            </div>
          </div>
          <div class="form-element">
            <input type="text" class="form-control" name="username" [(ngModel)]="signupForm.username" required
              minlength="3" maxlength="20" #username="ngModel" placeholder="Username" />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors.required">Username is required</div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-element">
            <input type="email" class="form-control" name="email" [(ngModel)]="signupForm.email" required email
              #email="ngModel" placeholder="Email" />
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-element">
            <select class="form-control" name="role" [(ngModel)]="signupForm.role" required role #role="ngModel">
              <option value="role" selected disabled>Role</option>
              <option value="BU">Basic User</option>
              <option value="RO">Restaurant Owner</option>
            </select>
            <div class="alert-danger" *ngIf="role.errors && f.submitted">
              <div *ngIf="role.errors.required">Role is required</div>
            </div>
          </div>
          <div class="form-element">
            <input type="password" class="form-control" name="password" [(ngModel)]="signupForm.password1" required
              minlength="8" #password1="ngModel" placeholder="Password" />
            <div class="alert-danger" *ngIf="password1.errors && f.submitted">
              <div *ngIf="password1.errors.required">Password is required</div>
              <div *ngIf="password1.errors.minlength">
                Password must be at least 8 characters
              </div>
            </div>
          </div>
          <div class="form-element">
            <input type="password" class="form-control" name="password-confirm" [(ngModel)]="signupForm.password2"
              required minlength="8" #password2="ngModel" placeholder="Confirm Password" />
            <div class="alert-danger" *ngIf="password2.errors && f.submitted">
              <div *ngIf="password2.errors.required">Password confirmation is required</div>
              <div *ngIf="password2.errors.minlength">
                Password must be at least 8 characters
              </div>
            </div>
          </div>
          <div class="form-element">
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </form>
        <p>OR</p>
        <div>
          <div class="facebookPopup btn btn-primary btn-block" (click)="facebookRoleSelectPopup()">Sign Up With Facebook
            <div class="btn-group facebookPopupPanel" role="group">
              <button class="btn btn-primary btn-block" type="button" (click)="signInWithFB('BU')"
                *ngIf="!isLoggedIn">
                Basic User
              </button>
              <button class="btn btn-primary btn-block" type="button" (click)="signInWithFB('RO')"
                *ngIf="!isLoggedIn">
                Restaurant Owner
              </button>
            </div>
          </div>
          <div class="googlePopup btn btn-primary btn-block" (click)="googleRoleSelectPopup()">Sign Up With Google
            <div class="btn-group googlePopupPanel" role="group">
              <button class="btn btn-primary btn-block" type="button" (click)="signInWithGoogle('BU')"
                *ngIf="!isLoggedIn">
                Basic User
              </button>
              <button class="btn btn-primary btn-block" type="button" (click)="signInWithGoogle('RO')"
                *ngIf="!isLoggedIn">
                Restaurant Owner
              </button>
            </div>
          </div>
        </div>

        <div class="alert alert-success" *ngIf="isSignupSuccessful">
          A verification email has been sent. Please activate your account before sign in.
        </div>
      </div>

      <div class="tab-body">

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit('login')" #f="ngForm" novalidate>
          <div class="form-element">
            <div class="alert alert-primary" role="alert" *ngIf="f.submitted && isLoginFailed && infoMessage">
              {{ infoMessage }}
            </div>
          </div>
          <div class="form-element">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed && errorMessage">
              {{ errorMessage }}
            </div>
          </div>
          <div class="form-element">
            <input type="text" class="form-control" name="username" [(ngModel)]="loginForm.username" required
              #username="ngModel" placeholder="Email / Username" />
            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
              Username/Email is required!
            </div>
          </div>
          <div class="form-element">
            <input type="password" class="form-control" name="password" [(ngModel)]="loginForm.password" required
              minlength="8" #password="ngModel" placeholder="Password" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 8 characters
              </div>
            </div>
          </div>
          <div class="form-element">
            <input type="checkbox" id="remember_me">
            <label for="remember_me">Remember me</label>
          </div>
          <div class="form-element">
            <button class="btn btn-primary btn-block">
              Login
            </button>
          </div>
        </form>

        <div>
          <button class="btn btn-primary btn-block" type="button" (click)="signInWithFB()" *ngIf="!isLoggedIn">
            Sign In With Facebook
          </button>
          <button class="btn btn-primary btn-block" type="button" (click)="signInWithGoogle()" *ngIf="!isLoggedIn">
            Sign In With Google
          </button>
        </div>
      </div>
    </div>
  </div>


  <ngb-alert *ngIf="mode == 1" [dismissible]="false" class="password-alert">
    Password should:<br>
    Be at least 8 characters in length<br>
    Contain following 4 types of characters:<br>
    • Lower case letters (a-z)<br>
    • Upper case letters (A-Z)<br>
    • Numbers (i.e. 0-9)<br>
    {{"• Special characters (e.g. +–~!@#%&().<>?;[]{}_^=|/)"}}
  </ngb-alert>
</div>