<div class="container">
  <div class="form" *ngIf="!isLoggedIn">
    <img src="assets/images/find_dining_logo_small.png" />
    <div class="tab-header">
      <div>Sign Up</div>
      <div class="active">Sign In</div>
    </div>
    <div class="tab-content">
      <div class="tab-body">

        <div class="alert alert-success" *ngIf="isSignupSuccessful">
          A verification email has been sent. Please activate your account before sign in.
        </div>
        <form *ngIf="!isSignupSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit('signup')" #f="ngForm"
          novalidate>
          <div class="form-element">
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed && signupErrorMessage">
              {{ signupErrorMessage }}
            </div>
          </div>
          <div class="form-element">
            <input type="text" class="form-control" name="username" [(ngModel)]="signupForm.username" required
              minlength="3" maxlength="20" #username="ngModel" placeholder="Username" />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors.required">Username is required</div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-element">
            <input type="email" class="form-control" name="email" [(ngModel)]="signupForm.email" required email
              #email="ngModel" placeholder="Email" />
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-element">
            <select class="form-control" name="role" [(ngModel)]="signupForm.role" required role #role="ngModel">
              <option value="role" selected disabled>Role</option>
              <option value="BU">Basic User</option>
              <option value="RO">Restaurant Owner</option>
            </select>
            <div class="alert-danger" *ngIf="role.errors && f.submitted">
              <div *ngIf="role.errors.required">Role is required</div>
            </div>
          </div>
          <div class="form-element mat-password">
            <mat-form-field style="width: 100%" floatLabel='always'>
              <mat-label>Password</mat-label>
              <div class="input-group">
                <input matInput #password [type]="hide ? 'password' : 'text'" class="form-control mat-password"
                  name="password1" [(ngModel)]="signupForm.password1" minlength="8" #password1="ngModel"
                  placeholder="Password" />
                <button class="mat-password mat-password-button" type="button" mat-icon-button matSuffix
                  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </div>
              <mat-hint align="end" aria-live="polite" *ngIf="password1.value">
                {{password1.value.length}} / {{passwordComponent.max}}
              </mat-hint>
              <!--@angular-material-extensions/password-strength's main component-->
              <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
                [password]="password1.value">
              </mat-password-strength>
            </mat-form-field>
            <div class="alert-danger" *ngIf="password1.errors && f.submitted">
              <div *ngIf="password1.errors.required">Password is required</div>
              <div *ngIf="password1.errors.minlength">
                Password must be at least 8 characters
              </div>
            </div>
            <!--Password's strength info-->
            <mat-password-strength-info *ngIf="showDetails && strength < 100" [passwordComponent]="passwordComponent">
            </mat-password-strength-info>
          </div>
          <div class="form-element">
            <input type="password" class="form-control" name="password-confirm" [(ngModel)]="signupForm.password2"
              required minlength="8" #password2="ngModel" placeholder="Confirm Password" />
            <div class="alert-danger" *ngIf="password2.errors && f.submitted">
              <div *ngIf="password2.errors.required">Password confirmation is required</div>
              <div *ngIf="password2.errors.minlength">
                Password must be at least 8 characters
              </div>
            </div>
          </div>
          <div class="form-element">
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </form>
        <div *ngIf="!isSignupSuccessful">
          <p>OR</p>
          <div id="facebookPopup" class="facebookPopup btn btn-primary btn-block" (click)="facebookRoleSelectPopup()">
            Sign Up With Facebook
            <div class="facebookPopupPanel">
              <p>I want to sign up for...</p>
              <div class="close">×</div>
              <div class="btn-group" role="group">
                <button class="btn btn-primary" type="button" (click)="signInWithFB('BU')" *ngIf="!isLoggedIn">
                  Basic User
                </button>
                <button class="btn btn-secondary" type="button" (click)="signInWithFB('RO')" *ngIf="!isLoggedIn">
                  Restaurant Owner
                </button>
              </div>
            </div>
          </div>
          <div class="googlePopup btn btn-primary btn-block" (click)="googleRoleSelectPopup()">Sign Up With Google
            <div class="googlePopupPanel">
              <p>I want to sign up for...</p>
              <div class="close">×</div>
              <div class="btn-group" role="group">
                <button class="btn btn-primary" type="button" (click)="signInWithGoogle('BU')" *ngIf="!isLoggedIn">
                  Basic User
                </button>
                <button class="btn btn-secondary" type="button" (click)="signInWithGoogle('RO')" *ngIf="!isLoggedIn">
                  Restaurant Owner
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-body active">
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit('login')" #f="ngForm" novalidate>
          <div class="form-element">
            <div class="alert alert-primary" role="alert" *ngIf="f.submitted && isLoginFailed && infoMessage">
              {{ infoMessage }}
            </div>
          </div>
          <div class="form-element">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed && loginErrorMessage">
              {{ loginErrorMessage }}
            </div>
          </div>
          <div class="form-element">
            <input type="text" class="form-control" name="username" [(ngModel)]="loginForm.username" required
              #username="ngModel" placeholder="Email / Username" />
            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
              Username/Email is required!
            </div>
          </div>
          <div class="form-element">
            <input type="password" class="form-control" name="password" [(ngModel)]="loginForm.password" required
              minlength="8" #password="ngModel" placeholder="Password" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 8 characters
              </div>
            </div>
          </div>
          <div class="form-element">
            <button class="btn btn-primary btn-block">
              Login
            </button>
          </div>
        </form>

        <div>
          <button class="btn btn-primary btn-block" type="button" (click)="signInWithFB()" *ngIf="!isLoggedIn">
            Sign In With Facebook
          </button>
          <button class="btn btn-primary btn-block" type="button" (click)="signInWithGoogle()" *ngIf="!isLoggedIn">
            Sign In With Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-container">
  <mat-card class="login-register-container mat-elevation-z8">
    <mat-tab-group class="login-register-tabs">
      <mat-tab label="Sign In">
        <mat-card class="login-card mat-elevation-z8">
          <mat-card-title>Signing In</mat-card-title>
          <mat-card-content>
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit('login')" #f="ngForm" novalidate>
              <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                  <mat-label>Email/Username</mat-label>
                  <input matInput type="text" name="username" [(ngModel)]="loginForm.username" required #username="ngModel" autocomplete="Email / Username">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput type="password" name="password" [(ngModel)]="loginForm.password" required minlength="8" #password="ngModel" autocomplete="Password" >
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <button
                  class="space-top"
                  color="primary"
                  mat-raised-button
                  type="submit">
                  Login
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>

        <div
          fxLayoutAlign="center"
          fxLayout="row"
          style="margin-top: 10px;">
          <button mat-button (click)="signInWithGoogle()" *ngIf="!isLoggedIn">
            <fa-icon [icon]="faGoogle" class="icons"></fa-icon>
            Google
          </button>
          <button mat-button (click)="signInWithFB()" *ngIf="!isLoggedIn">
            <fa-icon [icon]="faFacebook" class="icons"></fa-icon>
            Facebook
          </button>
  
        </div>

      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card class="login-card mat-elevation-z8">
          <mat-card-title>Signing Up</mat-card-title>
          <mat-card-content>
            <form *ngIf="!isSignupSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit('signup')" #f="ngForm"
            novalidate>
              <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput required type="text" name="username" [(ngModel)]="signupForm.username" minlength="3" maxlength="20" #username="ngModel" autocomplete="Username" >
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput name="email" [(ngModel)]="signupForm.email" required email #email="ngModel" autocomplete="email" />
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput required #password [type]="hide ? 'password' : 'text'" name="password1" [(ngModel)]="signupForm.password1" minlength="8" #password1="ngModel"
                  autocomplete="Password">
                  <button type="button" mat-icon-button matSuffix
                  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" name="password-confirm" [(ngModel)]="signupForm.password2" required minlength="8" #password2="ngModel" autocomplete="Confirm Password" />
                </mat-form-field>

                <div class="form-element" style="margin: 10px;">
                  <mat-label>* Type of Account</mat-label>
                  <select class="form-control" name="role" [(ngModel)]="signupForm.role" required role #role="ngModel">
                    <option value="role" selected disabled>Role</option>
                    <option value="BU">Basic User</option>
                    <option value="RO">Restaurant Owner</option>
                  </select>
                  <div class="alert-danger" *ngIf="role.errors && f.submitted">
                    <div *ngIf="role.errors.required">Role is required</div>
                  </div>
                </div>

                <button
                    class="space-top"
                    color="primary"
                    mat-raised-button
                    type="submit">
                  Register
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>

        <div
          fxLayoutAlign="center"
          fxLayout="row"
          style="margin-top: 10px;">
          <button mat-button (click)="signInWithGoogle()" *ngIf="!isLoggedIn">
            <fa-icon [icon]="faGoogle" class="icons"></fa-icon>
            Google
          </button>
          <button mat-button (click)="signInWithFB()" *ngIf="!isLoggedIn">
            <fa-icon [icon]="faFacebook" class="icons"></fa-icon>
            Facebook
          </button>
  
        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>