@import "src/styles";

/* Updated Login Screen */
.login-image {
  display: block;
  margin: auto;
}

.card-container {
  display: block;
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-register-container {
  width: 512px;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.login-card, .reset-card {
  margin: 25px;
}

.social-providers {
  margin-top: 10px;
}

.icons {
  font-size: 30px;
  color: black;
}

.mat-button {
  text-align: center;
  position: relative;
}

.role-buttons {
  display: inline-block;
}

.modal-body button {
  margin: 0 2px;
  text-align: center;
}

@media screen and (max-width: 525px) {

.login-register-container {
  width: 280px;
}

.login-card {
  margin: 5px;
}

.social-providers {
  margin-top: 20px;
}

}