<div class="card-container" *ngIf="!isLoggedIn">
  <mat-card class="login-register-container mat-elevation-z8">
    <img src="assets/images/find_dining_logo_small.png" class="login-image"/>
    <mat-tab-group class="login-register-tabs">
      <mat-tab label="Sign In">
        <mat-card class="login-card mat-elevation-z8">
          <mat-card-title>Signing In</mat-card-title>
          <mat-card-content>
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit('login')" #f="ngForm" novalidate>
              <div class="form-element">
                <div class="alert alert-primary" role="alert" *ngIf="(f.submitted || isThirdParty) && isLoginFailed && infoMessage">
                  {{ infoMessage }}
                </div>
              </div>
              <div class="form-element">
                <div class="alert alert-danger" role="alert" *ngIf="(f.submitted || isThirdParty) && isLoginFailed && loginErrorMessage">
                  {{ loginErrorMessage }}
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                  <mat-label>Email/Username</mat-label>
                  <input matInput type="text" name="username" [(ngModel)]="loginForm.username" required #username="ngModel" autocomplete="Email / Username">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="username && username.errors && f.submitted">Username/Email is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="loginForm.password" required minlength="8" #password="ngModel" autocomplete="Password" >
                  <button type="button" mat-icon-button matSuffix
                  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error *ngIf="password.errors && password.errors.required">Password is required</mat-error>
                  <mat-error *ngIf="password.errors && password.errors.minlength">Password must be at least 8 characters</mat-error>
                </mat-form-field>
                <button
                  (click)="reCaptchaPopup(reCaptcha)"
                  style="margin-bottom: 10px;"
                  color="seconary"
                  type="button"
                  *ngIf="recaptchaForm.invalid"
                  mat-button>
                  I am a human
                  <mat-icon matSuffix>mood</mat-icon>
                </button>

                <button
                  style="margin-top: 10px;"
                  color="primary"
                  [disabled]="recaptchaForm.invalid"
                  mat-raised-button
                  type="submit">
                  Login
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>

        <div
          class="social-providers"
          fxLayoutAlign="center"
          fxLayout="row"
          fxLayout.xs="column">
          <button mat-button (click)="signInWithGoogle()">
            <fa-icon [icon]="faGoogle" class="icons"></fa-icon>
            Google
          </button>
          <button mat-button (click)="signInWithFB()">
            <fa-icon [icon]="faFacebook" class="icons"></fa-icon>
            Facebook
          </button>

        </div>

      </mat-tab>

      <mat-tab label="Sign Up">
        <mat-card class="login-card mat-elevation-z8">
          <mat-card-title>Signing Up</mat-card-title>
          <mat-card-content>
            <div class="alert alert-success" *ngIf="isSignupSuccessful && signupMessage">
              {{ signupMessage }}
            </div>
            <form *ngIf="!isSignupSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit('signup')" #f="ngForm"
            novalidate>
              <div class="form-element">
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed && signupErrorMessage">
                  {{ signupErrorMessage }}
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput required type="text" name="username" [(ngModel)]="signupForm.username" minlength="3" maxlength="20" #username="ngModel" autocomplete="Username" >
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error *ngIf="username.errors && f.submitted">Username is required</mat-error>
                  <mat-error *ngIf="username.errors && username.errors.maxlength">Username must be at most 20 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput name="email" [(ngModel)]="signupForm.email" required email #email="ngModel" autocomplete="email" />
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="email.errors && f.submitted">Email is required</mat-error>
                  <mat-error *ngIf="email.errors && email.errors.email">Email must be a valid email address</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput required #password [type]="hide ? 'password' : 'text'" name="password1" [(ngModel)]="signupForm.password1" minlength="8" #password1="ngModel"
                  autocomplete="Password">
                  <button type="button" mat-icon-button matSuffix
                  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error *ngIf="password1.errors && password1.errors.required && f.submitted">Password is required</mat-error>
                  <mat-error *ngIf="password1.errors && password1.errors.minlength && f.submitted">Password must be at least 8 characters</mat-error>
                </mat-form-field>
                <mat-hint align="end" aria-live="polite" *ngIf="password1.value">
                  {{password1.value.length}} / {{passwordComponent.max}}
                </mat-hint>
                <!--@angular-material-extensions/password-strength's main component-->
                <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
                  [password]="password1.value">
                </mat-password-strength>
                <!--Password's strength info-->
                <mat-password-strength-info *ngIf="showDetails && strength < 100" [passwordComponent]="passwordComponent">
                </mat-password-strength-info>

                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" name="password-confirm" [(ngModel)]="signupForm.password2" required minlength="8" #password2="ngModel" autocomplete="Confirm Password" />
                  <mat-error *ngIf="password2.errors && password2.errors.required && f.submitted">Password confirmation is required</mat-error>
                  <mat-error *ngIf="password2.errors && password2.errors.minlength && f.submitted">Password must be at least 8 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Type of Account</mat-label>
                  <mat-select name="role" [(ngModel)]="signupForm.role" required #role="ngModel">
                    <mat-option value="role" selected disabled>Role</mat-option>
                    <mat-option value="BU">I want to Find Dining</mat-option>
                    <mat-option value="RO">I am a Restaurant Owner</mat-option>
                  </mat-select>
                  <mat-error *ngIf="role.errors && role.errors.required && f.submitted">Role is required</mat-error>
                </mat-form-field>

                <button
                (click)="reCaptchaPopup(reCaptcha)"
                style="margin-bottom: 10px;"
                color="seconary"
                type="button"
                *ngIf="recaptchaForm.invalid"
                mat-button>
                I am a human
                <mat-icon matSuffix>mood</mat-icon>
                </button>

                <button
                    style="margin-top: 10px;"
                    color="primary"
                    [disabled]="recaptchaForm.invalid"
                    mat-raised-button
                    type="submit">
                  Register
                </button>
              </div>
            </form>

          <br>
          <a
          id='form_link'
          href='#'
          class='show_signup'
          (click)="toggleLink();"
          >
          Didn't receive verification email?
        </a>

            <form *ngIf="isSignupSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit('resend')" #f="ngForm"
            novalidate>
            <div class="alert alert-success" *ngIf="isResendSuccessful">
              {{ resendMessage }}
            </div>
              <div class="form-element">
                <div class="alert alert-warning" *ngIf="f.submitted && resendFailed && resendErrorMessage">
                  {{ resendErrorMessage }}
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput name="email" [(ngModel)]="resendForm.email" required email #email="ngModel" autocomplete="email" />
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="email.errors && f.submitted">Email is required</mat-error>
                  <mat-error *ngIf="email.errors && email.errors.email">Email must be a valid email address</mat-error>
                </mat-form-field>

                <button
                (click)="reCaptchaPopup(reCaptcha)"
                style="margin-bottom: 10px;"
                color="seconary"
                type="button"
                *ngIf="recaptchaForm.invalid"
                mat-button>
                I am a human
                <mat-icon matSuffix>mood</mat-icon>
                </button>

                <button
                    id="resend_button"
                    style="margin-top: 10px;"
                    color="primary"
                    [disabled]="recaptchaForm.invalid || timerOn"
                    mat-raised-button
                    type="submit">
                  Resend verification email
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>

        <div
          class="social-providers"
          fxLayoutAlign="center"
          fxLayout="row"
          fxLayout.xs="column">
          <button mat-button (click)="googleRoleSelectPopup(googleSignUp)">
            <fa-icon [icon]="faGoogle" class="icons"></fa-icon>
            Google
          </button>

          <button mat-button (click)="facebookRoleSelectPopup(facebookSignUp)" id="facebookPopup" class="facebookPopup">
            <fa-icon [icon]="faFacebook" class="icons"></fa-icon>
            Facebook
          </button>

        </div>
      </mat-tab>

      <mat-tab label="Forgot Password">
        <mat-card class="reset-card mat-elevation-z8">
          <mat-card-title>Resetting Password</mat-card-title>
          <mat-card-content>
            <div class="alert alert-success" *ngIf="resetSuccessful">
              We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
              If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
            </div>
            <form *ngIf="!resetSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit('reset')" #f="ngForm"
            novalidate>
              <div class="form-element">
                <div class="alert alert-warning" *ngIf="f.submitted && resetFailed && resetErrorMessage">
                  {{ resetErrorMessage }}
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput name="email" [(ngModel)]="resetForm.email" required email #email="ngModel" autocomplete="email" />
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="email.errors && f.submitted">Email is required</mat-error>
                  <mat-error *ngIf="email.errors && email.errors.email">Email must be a valid email address</mat-error>
                </mat-form-field>

                <button
                (click)="reCaptchaPopup(reCaptcha)"
                style="margin-bottom: 10px;"
                color="seconary"
                type="button"
                *ngIf="recaptchaForm.invalid"
                mat-button>
                I am a human
                <mat-icon matSuffix>mood</mat-icon>
                </button>

                <button
                    id="reset_button"
                    style="margin-top: 10px;"
                    color="primary"
                    [disabled]="recaptchaForm.invalid"
                    mat-raised-button
                    type="submit">
                  Reset my password
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<!-- Popup reCaptcha -->
<ng-template #reCaptcha let-modal role="form">
<form [formGroup]="recaptchaForm">
  <div class="form-group" style="margin-top: 20px;">
    <ngx-recaptcha2
      #captchaElem
      [siteKey]="siteKey"
      formControlName="recaptcha"
    ></ngx-recaptcha2>
  </div>
</form>
</ng-template>


<!-- Popup option for registering with Google -->
<ng-template #googleSignUp let-modal role="form">
  <div class="modal-header">
    <h2 class="modal-title" id="modal-profile-title">Select an Account:</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>I want to sign up for...</p>
    <div class="role-buttons" role="group">
      <button class="btn btn-primary" type="button" (click)="signInWithGoogle('BU')" *ngIf="!isLoggedIn">
        Basic User
      </button>
      <button class="btn btn-secondary" type="button" (click)="signInWithGoogle('RO')" *ngIf="!isLoggedIn">
        Restaurant Owner
      </button>
    </div>
  </div>
</ng-template>

<!-- Popup option for registering with Facebook -->
<ng-template #facebookSignUp let-modal role="form">
  <div class="modal-header">
    <h2 class="modal-title" id="modal-profile-title">Select an Account:</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>I want to sign up for...</p>
    <div class="btn-group" role="group">
      <button class="btn btn-primary" type="button" (click)="signInWithFB('BU')" *ngIf="!isLoggedIn">
        Basic User
      </button>
      <button class="btn btn-secondary" type="button" (click)="signInWithFB('RO')" *ngIf="!isLoggedIn">
        Restaurant Owner
      </button>
    </div>
  </div>
</ng-template>
