<div
  class="card"
  (click)="openArticle()"
  (touchend)="openArticle()"
  (keyup.enter)="openArticle()"
  placement="top"
  ngbTooltip="Open Article"
  tabindex="0"
>
  <div class="img-container">
    <img
      class="card-img-top"
      src="{{ thumbnail }}"
      (error)="defaultImg()"
      alt="Card image cap"
      style="object-fit: contain;"
    />
  </div>
  <div class="card-body">
    <h2 class="card-title" *ngIf="!article.modified_at">
      {{ article.created_at | date: "mediumDate" }}
    </h2>
    <h2 class="card-title" *ngIf="article.modified_at">
      {{ article.modified_at | date: "mediumDate" }}
    </h2>
    <p class="card-text">
      {{
        articleTextPreview.replace(" ", "").length > 50
          ? (articleTextPreview | slice: 0:50) + "..."
          : articleTextPreview
      }}
    </p>
  </div>
</div>
