{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        {% if opts.verbose_name == 'Restaurant (Submission)' or opts.verbose_name == 'Dish (Submission)' %}
            <input type="submit" value="Approve" name="_approve">
            <input type="submit" value="Reject" name="_reject">
        {% endif %}
        {% if opts.verbose_name == 'Restaurant (Live)' or opts.verbose_name == 'Dish (Live)' %}
            <input type="submit" value="Unpublish" name="_unpublish">
        {% endif %}
    </div>
{% endblock %}