@import "src/styles";

app-dish-card {
  margin-bottom: 0;
}

.form-box {
  padding: 20px;
}

.center {
  text-align: center;
  margin: 40px 40px 0 40px;
}

.center .btn {
  margin: 10px 20px;

  @media screen and (max-width: 350px) {
    height: fit-content;
  }
}

.dishes {
  margin: 2% 3%;

  @media screen and (max-width: 600px) {
    margin: 2% 0;
  }
}

.dish-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //gap: 25px;
}

.category-container {
  width: 100%;
  margin-bottom: 25px;
}

.category-title {
  padding-left: 3rem;
}

.dish-card {
  min-width: 350px;

  @media screen and (max-width: 400px) {
    min-width: 0;
  }
}

.card {
  padding: 0;
  margin: auto;
  width: fit-content;
}

.card-body {
  margin: auto;
  padding: 0;
}

.icon {
  height: 45px;
  width: 45px;
  padding: 0px;
  //margin: 0 10px;
  margin: 0;
  position: relative;
}

.icon:hover {
  fa-icon {
    color: $secondary-color;
  }
}

.saveBtn {
  margin-left: 0px;
  height: 40px;
  padding: 0 60px;
  position: relative;
}

.skip {
  background-color: white;
  color: $secondary-color;
  border-color: $secondary-color;
}

.skip:hover {
  background-color: $secondary-color;
  color: white;
}
