<div class="header-img">
  <div class="title absolute-center" tabindex="0">
    Support <br class="title-break" /> Scarborough <br class="title-break-2" /> Restaurants
  </div>
  <div class="header-content description absolute-center" tabindex="0">
    Celebrating Scarborough's rich cultural diversity through food,
    we aim to highlight local, independent restaurants from the
    longstanding neighbourhood favourites, to the new and hidden
    gems. We will help residents and east end visitors <i>Find Dining</i>
    and discover the amazing food of Scarborough!
  </div>

  <div class="input-group absolute-center">
    <div class="input-group-prepend">
      <fa-icon [icon]="faMapMarkerAlt" class="input-group-text"></fa-icon>
    </div>
    <input id="location" type="text" class="form-control" placeholder="Scarborough Bluffs, Scarborough, ON" [(ngModel)]="location">
    <div class="input-group-prepend">
      <span class="input-group-text">Find</span>
    </div>
    <input id="find" type="text" class="form-control" placeholder="delivery, takeout, pizza, noodles" [(ngModel)]="find">
    <div class="input-group-append">
      <button class="btn-primary" type="button" [routerLink]="['/all-listings']" [queryParams]="{location: location, find: find}">Go Find Dining</button>
    </div>
  </div>

  <button class="btn-primary search-btn absolute-center" type="button" [routerLink]="['/all-listings']" [queryParams]="{location: location, find: find}">Go Find Dining</button>
</div>

<div class="local-restaurants" *ngIf="restaurants.length > 0">
  <b>Discover Local Favourites</b>
  <div class="restaurant-carousel">
    <ivy-carousel
      style="max-width: fit-content; margin: auto;"
      class="arrow-outside-carousel"
      [images]="restaurants"
      [margin]="5"
      [arrowsOutside]="arrowsOutside"
      [borderRadius]="20"
      [cellWidth]="200"
      [height]="150"
    ></ivy-carousel>
  </div>
</div>

<div class="bg2" *ngIf="spotlight">
  <div class="res-spotlight">
    <div class="title-2" tabindex="0">
      Restaurant Spotlight
    </div>
    <div class="infoCard">
      <div class="row" id="info-row">
        <div class="logo col-12 col-md-4" id="info-col1">
          <img
            src="{{ spotlight.logo_url }}"
            alt="logo"
            class="logo-img"
          />
        </div>
        <div class="col" id="info-col2">
          <p><b>{{ spotlight.name }}</b> | {{ spotlightCuisines }} | {{ spotlight.years }} year(s) in business</p>
          <p class="bio">
            {{ spotlightStory }}
            <a [routerLink]="['/restaurant']" [queryParams]="{restaurantId: spotlight._id}" target="_blank">
              Continue reading
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- part 4 -->
<div class="box-2">
  <div>
    <div class="title-2" tabindex="0">
      For Restaurants
    </div>
    <div class="subtitle-2" tabindex="0">
      What does Find Dining Scarborough offer for restaurant owners?
    </div>
  </div>
  <div class="flex-container-2">
    <div class="flex-item-2" tabindex="0">
      <app-info-card [imgUrl]="'assets/images/home/connect.png'" [title]="'CONNECT'"></app-info-card>
      <p class="info-description">
        Connect your business with an online
        <strong>community</strong>
        that supports
        <strong>Scarborough</strong>
        restaurants
      </p>
    </div>
    <div class="flex-item-2" tabindex="0">
      <app-info-card [imgUrl]="'assets/images/home/celebrate.png'" [title]="'CELEBRATE'"></app-info-card>
      <p class="info-description">
        Celebrate your unique
        <strong>history</strong> and
        <strong>stories</strong>
      </p>
    </div>
    <div class="flex-item-2" tabindex="0">
      <app-info-card [imgUrl]="'assets/images/home/promote.png'" [title]="'PROMOTE'"></app-info-card>
      <p class="info-description">
        Promote your restaurant through our
        <strong>FREE</strong> platform
      </p>
    </div>
  </div>
</div>

<hr id="get_started">
<br />

<!-- part 5 -->
<div class="box-3">
  <div class="title-2" tabindex="0">
    How to Get Started
  </div>
  <div class="flex-container-3">
    <app-info-card class="flex-item-3" [imgUrl]="'assets/images/home/signup.png'" [title]="'SIGN UP'"
      [description]="'Register your restaurant to the Find Dining platform'" tabindex="0"></app-info-card>
    <app-info-card class="flex-item-3" [imgUrl]="'assets/images/home/email_update.png'" [title]="'EMAIL UPDATES'"
      [description]="'Monitor your emails for launch updates'" tabindex="0"></app-info-card>
    <app-info-card class="flex-item-3" [imgUrl]="'assets/images/home/complete_profile.png'" [title]="'COMPLETE PROFILE'"
      [description]="'Complete any outstanding sections within your profile'" tabindex="0"></app-info-card>
    <app-info-card class="flex-item-3" [imgUrl]="'assets/images/home/share.png'" [title]="'SHARE'"
      [description]="'Share your profile with a community of your peers'" tabindex="0"></app-info-card>
  </div>
  <button type="button" class="register-btn" (click)="gotoRegister()">Register Now</button>
</div>

<!-- part 6 -->
<div class="box-4" id="contact_us">
  <div class="form">
    <p class="title-4" tabindex="0" id="contact_us_label">We would love to hear from you!</p>
    <form [formGroup]="messageForm" role="form" aria-labelledby="contact_us_label">
      <div class="form-group">
        <label for="name">Name <app-required-star></app-required-star></label>
        <input type="text" class="form-control" id="name" formControlName="name" aria-required="true" />
      </div>
      <div class="form-group">
        <label for="email">Email <app-required-star></app-required-star></label>
        <input type="text" class="form-control" id="email" formControlName="email" aria-required="true" />
      </div>
      <div class="form-group">
        <label for="message">Message <app-required-star></app-required-star></label>
        <textarea type="text" class="form-control" id="message" name="message" rows="3"
          formControlName="message" aria-required="true"></textarea>
      </div>
      <div style="text-align: center;">
        <button
          type="button"
          class="register-btn"
          (click)="onSubmit()"
          [disabled]="messageForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<div class="bg2" style="padding: 10px;"></div>

<!-- Subscriber Profile Form -->
<app-subscriber-profile-form #userInfo role="form"></app-subscriber-profile-form>
