<div role="main">
    <div class="container" tabindex="0">
        <fa-icon aria-hidden="false" aria-label="check icon" class="icon checkIcon" [icon]="faCheckIcon"></fa-icon>
        <div class="title">
            Thank You for Signing Up for Find Dining Scarborough!
        </div>
        <div class="subtitle">
            Please monitor your email regularly to receive updates.
        </div>
        <div class="subtitle">
            Contact <a href="mailto:info@finddining.ca"><i>info@finddining.ca</i></a> for any more information.
        </div>
    </div>

</div>