<nav class="navbar navbar-expand-lg" role="navigation">
    <img src="assets/images/find_dining_logo.png" class="logo" (click)="home()" alt="Find Dining logo, click to go to home page" />
    <p class="word" (click)="home()">
      <span class="find">FIND </span>
      <span class="dining">DINING </span> <br />
      <span class="scarborough">SCARBOROUGH</span>
    </p>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" (keyup.enter)="home()" tabindex="0">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" (click)="home()" >
            Home
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.isLoggedIn() && !tokenStorageService.RO">
          <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown nav-link" id="dropdownBasic1" ngbDropdownToggle tabindex="0">
              User Info
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownProfile">
              <button ngbDropdownItem (click)="profile()" tabindex="0">
                Profile
              </button>
              <button ngbDropdownItem (click)="favourites()" tabindex="0">
                Favourites
              </button>
              <button ngbDropdownItem (click)="accountSetting()" tabindex="0">
                Account Settings
              </button>
              <button ngbDropdownItem (click)="newsletter()" tabindex="0">
                Notifications
              </button>
            </div>
          </div>
        </li>

        <li class="nav-item" *ngIf="authService.isLoggedIn() && tokenStorageService.RO" data-toggle="collapse" data-target=".navbar-collapse.show" tabindex="0">
          <a (click)="accountSetting()" routerLink="/account-setting" routerLinkActive="active" class="nav-link">
            Account Settings
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.isLoggedIn() && tokenStorageService.RO" data-toggle="collapse" data-target=".navbar-collapse.show" tabindex="0">
          <a (click)="restaurant()" routerLink="/restaurant" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            Restaurant Page
          </a>
        </li>

        <!-- li class="nav-item" *ngIf="authService.isLoggedIn() && !tokenStorageService.RO">
          <div ngbDropdown class="d-inline-block">
            <button class="btn dropdown nav-link" id="dropdownBasic1" ngbDropdownToggle>
              Go Find Dining
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBrowse">
              <button ngbDropdownItem (click)="browse()">
                Restaurants
              </button>
              <button ngbDropdownItem (click)="timeline()">
                Timeline
              </button>
              <button ngbDropdownItem (click)="owners()">
                Owner Stories
              </button>
            </div>
          </div>
        </li> -->

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" tabindex="0"  (keyup.enter)="browse()">
          <a routerLink="/all-listings" routerLinkActive="active" class="nav-link" (click)="browse()">
            Go Find Dining
          </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="tokenStorageService.RO">
          <a routerLink="/favourites" routerLinkActive="active" class="nav-link" (click)="favourites()">
            Favourites
          </a>
        </li>
        <!-- <li class="nav-item nav-link" *ngIf="authService.isLoggedIn() || tokenStorageService.RO">
          <a routerLinkActive="active" class="nav-link" (click)="timeline()">
            Timeline
          </a>
        </li>
        <li class="nav-item nav-link" *ngIf="authService.isLoggedIn()">
          <a routerLinkActive="active" class="nav-link" (click)="owners()">
            Owner Stories
          </a>
        </li> -->

        <li *ngIf="!tokenStorageService.RO && authService.isLoggedIn()" class="nav-item">
          <p class="nav-link address nav-link" *ngIf="this.userAddress" tabindex="0">
            <fa-icon class="address-icon icon" [icon]="faMapMarkerAlt"></fa-icon>
            {{ this.userAddress }}
          </p>
          <p class="nav-link address nav-link" *ngIf="!this.userAddress" tabindex="0">
            No Address Provided
            <fa-icon class="address-icon icon" [icon]="faMapMarkerAlt"></fa-icon>
          </p>
        </li>


        <p class="nav-item separator">|</p>

        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item">
          <a href="https://www.facebook.com/finddiningscarborough/" target="_blank"  tabindex="0">
            <img src="assets/images/facebook_icon.png" class="icon" alt="Facebook" ngbTooltip="View Find Dining Facebook Page" />
          </a>
          <a href="https://twitter.com/FDscarborough" target="_blank" tabindex="0">
            <img src="assets/images/twitter_icon.png" class="icon" alt="Twitter" ngbTooltip="View Find Dining Twitter Page" />
          </a>
          <a href="https://www.instagram.com/finddiningscarborough/" target="_blank"  tabindex="0">
            <img src="assets/images/instagram_icon.png" class="icon" alt="Instagram" ngbTooltip="View Find Dining Instagram Page" />
          </a>
        </li>

        <p class="nav-item separator">|</p>




        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" tabindex="0" (keyup.enter)="onLoginRegisterClicked()">
          <a routerLink="/authentication" routerLinkActive="active" class="nav-link"  (click)="onLoginRegisterClicked()" id="login/logout"  >
            {{ !authService.isLoggedIn() ? 'Log In / Register' : 'Log Out' }}
          </a>
        </li>
      </ul>
    </div>
  </nav>

