@import "src/styles";

.cardBox {
  width: 500px;
  height: auto;
  flex: 0 0 auto;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;

  @media screen and (max-width: 600px) {
    width: 95%;
  }
}

.cardBox::-webkit-scrollbar {
  display: none;
}

.card-img-top {
  width: 200px;
  height: 250px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card-body {
  text-align: left;
  width: 200px;
}

.card-text {
  height: 125px;
  font-size: 13px;
  overflow-x: hidden;
}

.btn {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: $secondary-color;
  color: white;
}

h3 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 22px;
}
