<div class="page-box">
    <h2 id="terms-label" tabindex="0">Account Removal Instruction</h2>
    <div class="form-box" role="main" aria-labelledby="terms-label">
      <p class="sub-title" tabindex="0"></p>
      <p tabindex="0">
        Please send an email to <a href = "mailto: info@finddining.ca">info@finddining.ca</a> through the email associated with the account you want to delete.
        By default, we will only delete the account and related user information.
        <br><br>
        If you want to have any additional data to be deleted, please do it within the site first or outline it in the requesting email.
        <strong>Note that the deletion is permanent and irreversible.</strong>
      </p>
    </div>
  </div>
  