<footer role="contentinfo">
    <div class="footer-content">
      <div id="footer-main-links" class="row">
        <div class="col">
          <img
            src="assets/images/scarborough_dining_dark.png"
            class="footer-logo"
            alt="Find Dining Scarborough footer logo"
          />
          <p>&copy; 2021 Find Dining</p>
        </div>
        <div class="col-2">
          <p class="footer-title"><b>Navigate</b></p> <br>
          <a class="footer-links" href="/terms-of-service">Terms of Service</a><br>
          <a class="footer-links" href="/">Privacy Policy</a><br>
          <a class="footer-links" href="/get-involved">Get Involved</a>
        </div>
        <div class="col-2">
          <p class="footer-title-2"><b>Find Us</b></p> <br>
          <div class="row" style="padding-left: 6px;">
            <a href="https://www.facebook.com/finddiningscarborough/" target="_blank"  tabindex="0">
              <img src="assets/images/facebook_icon.png" class="icon" alt="Facebook" ngbTooltip="View Find Dining Facebook Page" />
            </a>
            <a href="https://twitter.com/FDscarborough" target="_blank" tabindex="0">
              <img src="assets/images/twitter_icon.png" class="icon" alt="Twitter" ngbTooltip="View Find Dining Twitter Page" />
            </a>
            <a href="https://www.instagram.com/finddiningscarborough/" target="_blank"  tabindex="0">
              <img src="assets/images/instagram_icon.png" class="icon" alt="Instagram" ngbTooltip="View Find Dining Instagram Page" />
            </a>
          </div>
        </div>
        <div class="col-4">
          <div class="flex-container">
            <div>
              <p tabindex="0">
                Find Dining is a program to promote independent restaurants in Scarborough and is supported by the City of
                Toronto, in partnership with the University of Toronto Scarborough and Centennial College
              </p>
            </div>
            <div class="sub-container">
              <a href="https://www.toronto.ca/" target="_blank">
                <img src="assets/images/sponsor_toronto.png" class="sponsor" alt="Sponsor: City of Toronto" />
              </a>
              <a href="https://www.utsc.utoronto.ca/home/" target="_blank">
                <img src="assets/images/sponsor_uoft.png" class="sponsor" alt="Sponsor: University of Toronto" />
              </a>
              <a href="https://www.centennialcollege.ca/" target="_blank">
                <img src="assets/images/sponsor_centenial.png" class="sponsor"  alt="Centennial College" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
