<footer role="contentinfo">
    <div class="footer-content" class="col">
      <div id="footer-main-links" class="row">
        <div class="col-6">
          <img
            src="assets/images/scarborough_dining_dark.png"
            class="footer-logo"
            alt="Find Dining Scarborough footer logo"
          />
          <p class="copy-right">&copy; 2021 Find Dining</p>
        </div>
        <div class="col-4">
          <p class="footer-title"><b>Navigate</b></p> <br>
          <div class="row" style="padding: 0px 5px">
            <div>
              <a class="footer-links" href="/about-us">About Us</a><br>
              <a class="footer-links" href="/about-our-partner">About Our Partner</a><br>
              <a class="footer-links" href="/get-involved">Get Involved</a>
            </div>
            <div>
              <a class="footer-links" href="/terms-of-service">Terms of Service</a><br>
              <a class="footer-links" href="/privacy-policy">Privacy Policy</a>
            </div>
          </div>
        </div>
        <div class="col-2">
          <p class="footer-title-2"><b>Find Us</b></p> <br>
          <div class="row" style="padding-left: 6px;">
            <a href="https://www.facebook.com/finddiningscarborough/" target="_blank"  tabindex="0">
              <img src="assets/images/facebook_icon.png" class="icon" alt="Facebook" ngbTooltip="View Find Dining Facebook Page" />
            </a>
            <a href="https://twitter.com/FDscarborough" target="_blank" tabindex="0">
              <img src="assets/images/twitter_icon.png" class="icon" alt="Twitter" ngbTooltip="View Find Dining Twitter Page" />
            </a>
            <a href="https://www.instagram.com/finddiningscarborough/" target="_blank"  tabindex="0">
              <img src="assets/images/instagram_icon.png" class="icon" alt="Instagram" ngbTooltip="View Find Dining Instagram Page" />
            </a>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-8">
          <p class="partners" tabindex="0">
            Find Dining is a program to promote independent restaurants in Scarborough and is supported by the City of
            Toronto, in partnership with the University of Toronto Scarborough and Centennial College
          </p>
        </div>
        <div class="row col-4">
          <a href="https://www.toronto.ca/" target="_blank">
            <img src="assets/images/sponsor_toronto.png" class="sponsor" alt="Sponsor: City of Toronto" />
          </a>
          <a href="https://www.utsc.utoronto.ca/home/" target="_blank">
            <img src="assets/images/sponsor_uoft.png" class="sponsor" alt="Sponsor: University of Toronto Scarborough" />
          </a>
          <a href="https://www.centennialcollege.ca/" target="_blank">
            <img src="assets/images/sponsor_centenial.png" class="sponsor"  alt="Centennial College" />
          </a>
        </div>
      </div>
    </div>
  </footer>
