<div *ngIf="error">
  <app-page-error></app-page-error>
</div>

<div *ngIf="restaurantDetails" role="main" aria-label="restaurant page">
  <div class="header">
    <div class="card infoCard">
      <div class="row" id="info-row" tabindex="0">
        <div class="logo col-12 col-md-4" id="info-col1">
          <img
            src="{{ restaurantDetails.logo_url }}"
            alt="logo"
            class="logo-img"
          />
        </div>

        <div class="col">
          <h2 class="restaurant-name">
            {{ restaurantDetails.name | titlecase }}
          </h2>
          <div class="row flex-nowrap">
            <div class="col details1">
              <p>
                <span *ngIf="cuisineList">{{ cuisineList | titlecase }}</span
                ><span *ngIf="pricepoint"> - {{ pricepoint | titlecase }}</span>
              </p>
              <p *ngIf="expandService">
                {{ serviceList }}
                <span
                  (click)="expandService = false"
                  style="color: gray; cursor: pointer"
                  >show less...</span
                >
              </p>
              <p *ngIf="!expandService">
                {{ firstFourServices }}
                <span
                  *ngIf="serviceCount > 4"
                  (click)="expandService = true"
                  style="color: gray; cursor: pointer"
                  >show more...</span
                >
              </p>
              <p *ngIf="restaurantDetails.payment_methods.length > 0">
                {{ paymentList }}
              </p>
              <p>
                {{ restaurantDetails.years }} year<span
                  *ngIf="restaurantDetails.years > 1"
                  >s</span
                >
                in business
              </p>
            </div>

            <div class="col details1">
              <p fxLayout="row" fxLayoutAlign="none center">
                <fa-icon class="contact-icon" [icon]="faMapMarker"></fa-icon>
                <a
                  [routerLink]="['/all-listings']"
                  [queryParams]="{
                    GEO_location: restaurantDetails.GEO_location
                  }"
                  placement="bottom"
                  ngbTooltip="Visit Restaurant Page"
                  style="color: black; word-break: break-all"
                >
                  {{ restaurantDetails.address }} <br />
                  Scarborough, ON {{ restaurantDetails.postalCode }}
                </a>
              </p>

              <p fxLayout="row" fxLayoutAlign="none center">
                <fa-icon class="contact-icon" [icon]="faPhone"></fa-icon>
                <a>
                  {{ displayed_phone }}
                  <span *ngIf="restaurantDetails.phone_ext">
                    Ext.{{ restaurantDetails.phone_ext }}</span
                  >
                </a>
              </p>

              <p fxLayout="row" fxLayoutAlign="none center">
                <fa-icon class="contact-icon" [icon]="faMail"></fa-icon>
                <a style="word-break: break-all">
                  {{ restaurantDetails.email }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="editRestaurantWrap">
      <button
        *ngIf="role == 'RO' && !isQueryRestaurant"
        class="btn editRestaurant"
        (click)="editRestaurant()"
        placement="top"
        ngbTooltip="Update Restaurant Info"
        aria-label="Edit Restaurant Profile"
      >
        <fa-icon [icon]="faEdit"></fa-icon>
        <b>EDIT RESTAURANT PROFILE</b>
      </button>
    </div>
  </div>

  <div
    *ngIf="restaurantDetails.sysAdminComments && !isQueryRestaurant"
    fxLayoutAlign="center center"
    tabindex="0"
  >
    <ngb-alert [dismissible]="false">
      <b>System Admin Comments: </b>{{ restaurantDetails.sysAdminComments }}
    </ngb-alert>
  </div>

  <mat-tab-group mat-align-tabs="center" class="mat-tab-group">
    <mat-tab label="Our Story">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <p class="tab-info-left section_p" tabindex="0">
              {{ restaurantDetails.bio }}
            </p>
            <div
              class="tab-info-left section_p"
              style="margin-top: 25px"
              tabindex="0"
            >
              <p><b>Restaurant Owners: </b></p>
              <div
                *ngFor="
                  let owner of restaurantDetails.owner_first_name;
                  let i = index
                "
              >
                <p>
                  {{
                    restaurantDetails.owner_first_name[i] +
                      " " +
                      restaurantDetails.owner_last_name[i]
                  }}
                  <span *ngIf="restaurantDetails.owner_preferred_name[i]"
                    >( {{ restaurantDetails.owner_preferred_name[i] }} )</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4" tabindex="0">
            <div
              class="tab-info-right"
              *ngIf="
                restaurantDetails.cover_photo_url !=
                'https://storage.googleapis.com/default-assets/cover.jpg'
              "
            >
              <img
                src="{{ restaurantDetails.cover_photo_url }}"
                width="100%"
                alt="Story photo"
              />
            </div>
            <div
              class="tab-info-right"
              *ngIf="
                restaurantDetails.cover_photo_url ==
                'https://storage.googleapis.com/default-assets/cover.jpg'
              "
            >
              <img
                src="/assets/images/find_dining_logo.png"
                width="70%"
                alt="Story photo"
              />
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: center; padding-bottom: 50px">
        <button
          *ngIf="role == 'RO' && !isQueryRestaurant"
          class="btn editBtn"
          (click)="openEditModal(storyImageModal)"
          placement="bottom"
          ngbTooltip="Upload an Image for Our Story"
          aria-label="Upload an Image for Our Story"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
          <b>UPLOAD IMAGE</b>
        </button>
      </div>
    </mat-tab>

    <mat-tab label="Menu">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="5px"
        style="margin-top: 25px"
      >
        <ngb-alert
          *ngIf="restaurantMenu.length == 0 && !restaurantDetails.full_menu_url"
          [dismissible]="false"
          tabindex="0"
        >
          Menu currently empty! Please check again at a later time.
        </ngb-alert>

        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          *ngIf="restaurantDetails.full_menu_url"
        >
          <button
            class="btn"
            (click)="openExternalMenu()"
            placement="top"
            ngbTooltip="View Full Menu"
          >
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
              <b>Click Here for Full Menu</b>
            </div>
          </button>
        </div>

        <div class="col">
          <div class="tab-info-menu" *ngIf="restaurantMenu.length != 0">
            <h1 class="section-title" tabindex="0">Specials</h1>
            <div class="food-carousel">
              <ivy-carousel
                style="max-width: fit-content; margin: auto"
                [images]="restaurantMenu"
                [margin]="5"
                [arrowsTheme]="dark"
                [borderRadius]="20"
                [cellWidth]="312"
                [height]="312"
              ></ivy-carousel>
            </div>
          </div>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
          style="padding-bottom: 50px"
        >
          <div style="text-align: center">
            <button
              *ngIf="role == 'RO' && !isQueryRestaurant"
              class="btn editBtn"
              (click)="editMenu()"
              placement="bottom"
              ngbTooltip="Update Your Menu"
              aria-label="Update Your Menu"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
              <b>EDIT MENU</b>
            </button>
          </div>

          <div style="text-align: center">
            <button
              *ngIf="role == 'RO' && !isQueryRestaurant"
              class="btn editBtn"
              (click)="openEditModal(fullMenuModal)"
              placement="bottom"
              ngbTooltip="Add/Update URL of Your Full Menu"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
              <b>EDIT FULL MENU URL</b>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Details">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="tab-info-left">
              <div tabindex="0">
                <h1 class="section-title">Hours of Operation</h1>
                <p class="section_p">{{ restaurantDetails.open_hours }}</p>
              </div>
              <div tabindex="0">
                <p class="section_p" *ngIf="paymentList">
                  Accepted {{ paymentList }}
                </p>
              </div>
              <p *ngIf="restaurantDetails.web_url">
                <a
                  class="section_p web_url"
                  href="{{ restaurantDetails.web_url }}"
                  target="_blank"
                  >{{ restaurantDetails.web_url }}</a
                >
              </p>
            </div>

            <div class="row tab-info-left" style="margin-top: 10px">
              <a
                *ngIf="restaurantDetails.web_url != ''"
                href="{{ restaurantDetails.web_url }}"
                target="_blank"
                aria-label="View our Website"
              >
                <fa-icon
                  class="contact-icon"
                  [icon]="faShareAlt"
                  placement="bottom"
                  ngbTooltip="View our Website"
                ></fa-icon>
              </a>
              <a
                *ngIf="restaurantDetails.facebook != ''"
                href="{{ restaurantDetails.facebook }}"
                target="_blank"
                aria-label="View our Facebook"
              >
                <fa-icon
                  class="contact-icon"
                  [icon]="faFacebookF"
                  placement="bottom"
                  ngbTooltip="View our Facebook"
                ></fa-icon>
              </a>
              <a
                *ngIf="restaurantDetails.twitter != ''"
                href="{{ restaurantDetails.twitter }}"
                target="_blank"
                aria-label="View our Twitter"
              >
                <fa-icon
                  class="contact-icon"
                  [icon]="faTwitter"
                  placement="bottom"
                  ngbTooltip="View our Twitter"
                ></fa-icon>
              </a>
              <a
                *ngIf="restaurantDetails.instagram != ''"
                href="{{ restaurantDetails.instagram }}"
                target="_blank"
                aria-label="View our Instagram"
              >
                <fa-icon
                  class="contact-icon"
                  [icon]="faInstagram"
                  placement="bottom"
                  ngbTooltip="View our Instagram"
                ></fa-icon>
              </a>
            </div>

            <div class="tab-info-left" style="margin-top: 10px">
              <app-virtual-scrolling
                [restaurantName]="restaurantDetails.name"
              ></app-virtual-scrolling>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-info-right tab-detail-right">
              <ngb-alert
                *ngIf="
                  restaurantDetails.deliveryDetails.length == 0 &&
                  restaurantDetails.dineinPickupDetails.length == 0 &&
                  restaurantDetails.locationNotes.length == 0
                "
                [dismissible]="false"
                tabindex="0"
              >
                No updates available. Please check again at a later time.
              </ngb-alert>

              <div
                *ngIf="restaurantDetails.deliveryDetails"
                class="sub_section"
                tabindex="0"
              >
                <h1 class="section-title">Delivery Details</h1>
                <p class="section_p">{{ restaurantDetails.deliveryDetails }}</p>
              </div>

              <div
                *ngIf="restaurantDetails.dineinPickupDetails"
                class="sub_section"
                tabindex="0"
              >
                <h1 class="section-title">Dine-in / Pick-up Details</h1>
                <p class="section_p">
                  {{ restaurantDetails.dineinPickupDetails }}
                </p>
              </div>

              <div
                *ngIf="restaurantDetails.locationNotes"
                class="sub_section"
                tabindex="0"
              >
                <h1 class="section-title">Location Notes</h1>
                <p class="section_p">{{ restaurantDetails.locationNotes }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Photo & Videos">
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px">
        <ngb-alert
          *ngIf="
            restaurantDetails.restaurant_image_url[0] == '/' &&
            restaurantDetails.restaurant_video_url == '/'
          "
          [dismissible]="false"
          tabindex="0"
        >
          Restaurant media currently empty! Please check again at a later time.
        </ngb-alert>

        <div
          class="tab-info"
          *ngIf="restaurantDetails.restaurant_image_url[0] != '/'"
          tabindex="0"
        >
          <app-carousel-with-thumbnail
            [autoPlayDuration]="5000"
            animation="slide"
            [isNavigationVisible]="true"
            [isThumbnailsVisible]="true"
            [slides]="slides"
            [slideTemplateRef]="slide"
            [thumbnailTemplateRef]="thumbnail"
          ></app-carousel-with-thumbnail>
          <ng-template #slide let-slide>
            <div
              [ngStyle]="{
                'background-size': 'contain',
                'background-image': 'url(' + slide.url + ')',
                'background-repeat': 'no-repeat',
                'background-position': 'center center',
                'background-color': 'white',
                width: '100%',
                height: '100%'
              }"
            ></div>
          </ng-template>
          <ng-template #thumbnail let-slide>
            <div
              [ngStyle]="{
                'background-size': 'cover',
                'background-image': 'url(' + slide.url + ')',
                'background-repeat': 'no-repeat',
                'background-position': 'center center',
                width: '100%',
                height: '100%'
              }"
              tabindex="0"
            ></div>
          </ng-template>
        </div>
        <!--<div style="text-align: center;">
          <button *ngIf="role == 'RO' && !isQueryRestaurant" class="btn editBtn" (click)="openEditModal(imageModal)" placement="bottom" ngbTooltip="Update Your Restaurant Image">
            <fa-icon [icon]="faEdit"></fa-icon>
            <b>EDIT RESTAURANT IMAGES</b>
          </button>
        </div>-->
        <div
          class="tab-info"
          *ngIf="
            restaurantDetails.restaurant_video_url != '/' &&
            videoId == undefined
          "
        >
          <video width="100%" controls>
            <source
              src="{{ restaurantDetails.restaurant_video_url }}"
              type="video/mp4"
            />
            Your browser does not support the video.
          </video>
        </div>

        <div #youtubeContainer class="tab-info" *ngIf="videoId != undefined">
          <youtube-player
            videoId="{{ videoId }}"
            [width]="youtubeContainer.offsetWidth"
          ></youtube-player>
        </div>

        <div
          class="tab-info"
          *ngIf="restaurantDetails.restaurant_video_desc"
          tabindex="0"
        >
          <p class="section_p">
            <b>Video Description: </b
            >{{ restaurantDetails.restaurant_video_desc }}
          </p>
        </div>

        <!--<div style="text-align: center; padding-bottom: 50px;">
          <button *ngIf="role == 'RO' && !isQueryRestaurant" class="btn editBtn" (click)="openEditModal(videoModal)" placement="bottom" ngbTooltip="Update Your Restaurant Video">
            <fa-icon [icon]="faEdit"></fa-icon>
            <b>EDIT RESTAURANT VIDEO</b>
          </button>
        </div>-->
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
          style="padding-bottom: 50px"
          *ngIf="role == 'RO' && !isQueryRestaurant"
        >
          <div style="text-align: center">
            <button
              class="btn editBtn"
              (click)="openEditModal(imageModal)"
              placement="bottom"
              ngbTooltip="Update Your Restaurant Image"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
              <b>EDIT RESTAURANT IMAGES</b>
            </button>
          </div>

          <div style="text-align: center">
            <button
              class="btn editBtn"
              (click)="openEditModal(videoModal)"
              placement="bottom"
              ngbTooltip="Update Your Restaurant Video"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
              <b>EDIT RESTAURANT VIDEO</b>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="isQueryRestaurant" fxLayoutAlign="center center">
    <button class="btn editBtn" (click)="goBack()">
      <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
      <b>Go Back</b>
    </button>
  </div>

  <div class="nearby" *ngIf="role == 'BU' || (role == 'RO' && queryParam)">
    <p class="nearby_text">Nearby Restaurants</p>
    <div class="row justify-content-center">
      <app-restaurant-nearby-card
        *ngFor="let restaurant of nearbyRestaurants"
        [restaurant]="restaurant"
      >
      </app-restaurant-nearby-card>
    </div>
  </div>
</div>

<ng-template #storyImageModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Choose Story Image</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="uploadStoryImgForm" (ngSubmit)="onSubmitStoryImg()">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="cover">Upload image for our story:</label>
          <input
            type="file"
            name="cover"
            id="cover"
            (change)="onStoryImgSelect($event)"
            accept="image/*"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn saveBtn skip" (click)="modal.dismiss('Cross click')">
        CANCEL
      </button>
      <button
        class="btn saveBtn"
        type="submit"
        (click)="onSubmitStoryImg()"
        [disabled]="!newFile"
      >
        CONFIRM
      </button>
    </div>
  </div>
</ng-template>

<ng-template #fullMenuModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Add/Update Full Menu URL</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitFullMenu()">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="cover">Please enter URL of your full menu:</label>
          <textarea
            class="form-control"
            id="full_menu_url"
            placeholder="Copy and paste your full menu link here"
            rows="2"
            value="{{ restaurantDetails.full_menu_url }}"
          ></textarea>
          <app-dynamic-label
            class="error-label"
            [name]="'errorMenuLink'"
            [message]="validator.errors['full_menu_url']"
            tabindex="0"
          ></app-dynamic-label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn saveBtn skip" (click)="modal.dismiss('Cross click')">
        CANCEL
      </button>
      <button class="btn saveBtn" type="submit" (click)="onSubmitFullMenu()">
        CONFIRM
      </button>
    </div>
  </div>
</ng-template>

<ng-template #videoModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Upload Restaurant Video</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="uploadVideoForm"
      (ngSubmit)="onSubmitVideo()"
      role="form"
    >
      <div class="row">
        <div class="form-group col-md-12">
          <label for="upload_method"
            >Upload Method<app-required-star></app-required-star
          ></label>
          <select
            id="upload_method"
            name="upload_method"
            class="form-control"
            (change)="updateUploadMethod()"
            formControlName="upload_method"
            aria-required="true"
          >
            <option selected disabled hidden>
              Choose a method to upload video...
            </option>
            <option>YouTube video link</option>
            <option>Upload .mp4 video file</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="uploadMethod == 'YouTube video link'">
        <div class="form-group col-md-12">
          <label for="video">YouTube link:</label>
          <textarea
            class="form-control"
            id="youtube_link"
            placeholder="Copy and paste the YouTube link here"
            rows="2"
            [value]="videoId ? restaurantDetails.restaurant_video_url : ''"
          ></textarea>
          <app-dynamic-label
            class="error-label"
            [name]="'errorLink'"
            [message]="validator.errors['link']"
            tabindex="validator.errors['link'] ? 0 : -1"
          ></app-dynamic-label>
        </div>
      </div>
      <div class="row" *ngIf="uploadMethod == 'Upload .mp4 video file'">
        <div class="form-group col-md-12">
          <label for="video">Upload restaurant video (.mp4):</label>
          <input
            type="file"
            name="video"
            id="video"
            class="form-control"
            (change)="onVideoFileSelect($event)"
            accept="video/*"
          />
        </div>
      </div>
      <div class="row" *ngIf="uploadMethod">
        <div class="form-group col-md-12">
          <label for="video_desc">Add description for your video: </label>
          <textarea
            class="form-control"
            id="video_desc"
            rows="7"
            [value]="restaurantDetails.restaurant_video_desc"
          ></textarea>
          <app-dynamic-label
            class="error-label"
            [name]="'errorVideoDesc'"
            [message]="draftValidator.errors['restaurant_video_desc']"
            tabindex="draftValidator.errors['restaurant_video_desc'] ? 0 : -1"
          ></app-dynamic-label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn saveBtn skip" (click)="modal.dismiss('Cross click')">
        CANCEL
      </button>
      <button
        class="btn saveBtn"
        type="submit"
        (click)="onSubmitVideo()"
        [disabled]="
          uploadMethod == '' ||
          (uploadMethod == 'Upload .mp4 video
        file' &&
            !submitVideoAllowed)
        "
      >
        CONFIRM
      </button>
    </div>
  </div>
</ng-template>

<ng-template #imageModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Edit Restaurant Images</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="uploadImageForm" (ngSubmit)="onSubmitImage()">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="add_or_remove"
            >Edit Images<app-required-star></app-required-star
          ></label>
          <select
            id="add_or_remove"
            name="add_or_remove"
            class="form-control"
            (change)="updateAddOrRemove()"
            formControlName="add_or_remove"
            aria-required="true"
          >
            <option selected disabled hidden>
              Choose a method to modify images...
            </option>
            <option>Upload new images</option>
            <option>Delete from existing images</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="addOrRemove == 'Upload new images'">
        <div class="form-group col-md-12">
          <label for="images">Upload restaurant images:</label>
          <input
            class="form-control"
            type="file"
            name="images"
            id="images"
            (change)="onImageFileSelect($event)"
            accept="image/*"
            multiple
          />
        </div>
      </div>
      <div class="row" *ngIf="addOrRemove == 'Delete from existing images'">
        <div *ngFor="let img of imageUrls" style="margin: auto">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="deleteImage(img)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <img
            (click)="deleteImage(img)"
            src="{{ img }}"
            class="grid-image"
            alt="restaurant image"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn saveBtn skip" (click)="modal.dismiss('Cross click')">
        CANCEL
      </button>
      <button
        class="btn saveBtn"
        type="submit"
        (click)="onSubmitImage(); modal.dismiss('Cross click')"
        [disabled]="
          addOrRemove == '' || (addOrRemove == 'Upload new images' && !newFile)
        "
      >
        CONFIRM
      </button>
    </div>
  </div>
</ng-template>
