{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load recaptcha2 %}

{% block recap %}
{% recaptcha_init %}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>


<form method="post">{% csrf_token %}
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <div class="form-row field-captcha">
        {{ form.captcha.errors }}
        {{ form.captcha.label_tag }} {{ form.captcha }}
    </div>
    <input type="submit" value="{% trans 'Reset my password' %}">
</form>

{% endblock %}