{% extends "registration/password_reset_user_base.html" %}
{% load i18n static %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
  <!-- <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"> -->
  <style>
    h2 {
      font-family: "Alegreya Sans SC", sans-serif;
      font-size: 35px;
    }

    .form-group {
      text-align: left;
    }

    label {
      text-align: left;
    }

    .form-box {
      width: min-content;
      margin: auto;
      /* padding: 50px 40px 50px 40px; */
      border-color: #dddddd;
      border-style: solid;
      border-radius: 20px;
      background-color: white;
      padding: 25px 20%;
    }

    .submit-btn {
      background-color: #007faa;
      border: solid #007faa 2px;
      color: white;
      border-radius: 5px;
      padding: 7px 20px;
      margin: 10px 0px;
    }

    .submit-btn:hover {
      border-color: #007faa;
      color: #007faa;
      background-color: white;
      transition: all 250ms linear;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{{ home_url }}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h2>{{ title }}</h2>{% endblock %}
{% block content %}

{% if validlink %}

<p id="instruction">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="form-box" role="form" aria-labelledby="instruction">
  <form method="post">{% csrf_token %}
    <fieldset>
      <div class="form-group field-password1">
        <label for="id_new_password1">{% trans 'New password' %}</label><br />
        {{ form.new_password1 }}
      </div>
      {{ form.new_password1.errors }}
      <div class="form-group field-password2">
        <label for="id_new_password2">{% trans 'Confirm password' %}</label><br />
        {{ form.new_password2 }}
      </div>
      {{ form.new_password2.errors }}
      <!-- <input type="submit" class="btn-submit" value="{% trans 'Change my password' %}"> -->
      <button type="submit" class="submit-btn">
        {% trans 'Change Password' %}
      </button>
    </fieldset>
  </form>
</div>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}

