{% extends "registration/password_reset_user_base.html" %}
{% load i18n static %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
  <style>
    h1 {
      font-size: 24px;
      line-height: 24px;
      margin: 20px 0px;
      font-weight: bold;
      white-space: wrap;
      color: black;
      text-align:center;
      font-family: Arial, Helvetica, sans-serif;
    }

    .subtitle {
      font-size: 20px;
      line-height: 20px;
      margin: 5px 0px;
      color: rgba(119,119,119,255);
      text-align:center;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 20px;
    }

    img {
      display:inline-block;
      margin-top: 100px;
      margin-bottom: 50px;
      width: 150px;
      text-align: center;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{{ home_url }}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<img src="{% static 'images/check_mark.png' %}" alt="checkmark" />

<p class="subtitle">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p class="subtitle"><a href="{{ login_redirect_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}