{% load i18n static %}
{% load static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Find Dining Scarborough</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,wght@700,&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static "css/navbar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">

  <!-- Find Dining Icon -->
  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
  
  <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.4.1/webcomponents-bundle.min.js"></script>
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
    {% block nav %}
    <nav class="navbar navbar-expand-lg" role="navigation">
      <a href="{{ home_url }}">
        <img src="{% static 'images/find_dining_logo.png' %}" class="logo" alt="Find Dining logo, click to go to home page" />
      </a>
      
      <a class="word" href="{{ home_url }}">
        <span class="find">FIND </span>
        <span class="dining">DINING </span> <br />
        <span class="scarborough">SCARBOROUGH</span>
      </a>

      <div class="navbar-nav ml-auto" >
        <div class="nav-item" tabindex="0">
          <a class="nav-link" href="{{ home_url }}" >
            Home
          </a>
        </div>
        <p class="nav-item separator">|</p>
        <div data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item">
          <a href="https://www.facebook.com/finddiningscarborough/" target="_blank"  tabindex="0">
            <img src="{% static 'images/facebook_icon.png' %}" class="icon" alt="Facebook"  />
          </a>
          <a href="https://twitter.com/FDscarborough" target="_blank" tabindex="0">
            <img src="{% static 'images/twitter_icon.png' %}" class="icon" alt="Twitter" />
          </a>
          <a href="https://www.instagram.com/finddiningscarborough/" target="_blank"  tabindex="0">
            <img src="{% static 'images/instagram_icon.png' %}" class="icon" alt="Instagram"  />
          </a>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% if not is_popup %}
    <!-- Container -->
    <div id="container" style="text-align: center; margin: auto; padding: 20px;">
    {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->
</body>
<footer role="contentinfo">
  <div class="footer-content" class="col">
    <div id="footer-main-links" class="row">
      <div class="col">
        <img
          src="{% static 'images/scarborough_dining_dark.png' %}"
          class="footer-logo"
          alt="Find Dining Scarborough footer logo"
        />
        <p class="copy-right">&copy; 2021 Find Dining</p>
      </div>
      <div class="col-4">
        <p class="footer-title"><b>Navigate</b></p> <br>
        <div class="row" style="padding: 0px 5px">
          <div class="col">
            <a class="footer-links" href="/about-us">About Us</a><br>
            <a class="footer-links" href="/about-our-partner">About Our Partners</a><br>
            <a class="footer-links" href="/get-involved">Get Involved</a>
          </div>
          <div class="col">
            <a class="footer-links" href="/terms-of-service">Terms of Service</a><br>
            <a class="footer-links" href="/privacy-policy">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <p class="footer-title-2"><b>Find Us</b></p> <br>
        <div class="row" style="padding-left: 6px;">
          <a href="https://www.facebook.com/finddiningscarborough/" target="_blank"  tabindex="0">
            <img src="{% static 'images/facebook_icon.png' %}" class="icon" alt="Facebook" ngbTooltip="View Find Dining Facebook Page" />
          </a>
          <a href="https://twitter.com/FDscarborough" target="_blank" tabindex="0">
            <img src="{% static 'images/twitter_icon.png' %}" class="icon" alt="Twitter" ngbTooltip="View Find Dining Twitter Page" />
          </a>
          <a href="https://www.instagram.com/finddiningscarborough/" target="_blank"  tabindex="0">
            <img src="{% static 'images/instagram_icon.png' %}" class="icon" alt="Instagram" ngbTooltip="View Find Dining Instagram Page" />
          </a>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-8">
        <p class="partners" tabindex="0">
          Find Dining is a program to promote independent restaurants in Scarborough and is supported by the City of
          Toronto, in partnership with the University of Toronto Scarborough and Centennial College
        </p>
      </div>
      <div class="row col-4">
        <a href="https://www.toronto.ca/" target="_blank">
          <img src="{% static 'images/sponsor_toronto.png' %}" class="sponsor" alt="Sponsor: City of Toronto" />
        </a>
        <a href="https://www.utsc.utoronto.ca/home/" target="_blank">
          <img src="{% static 'images/sponsor_uoft.png' %}" class="sponsor" alt="Sponsor: University of Toronto Scarborough" />
        </a>
        <a href="https://www.centennialcollege.ca/" target="_blank">
          <img src="{% static 'images/sponsor_centennial.png' %}" class="sponsor"  alt="Centennial College" />
        </a>
      </div>
    </div>
  </div>
</footer>
</html>
