<div class="cover">
  <h1 tabindex="0">Get Involved</h1>
</div>

<div class="box-1">
  <div class="titles">
    <h2 class="title" tabindex="0">
      Interested in becoming involved? <br>
      Let's work together and celebrate <br>
      Scarborough restaurants!
    </h2>
  </div>

  <form class="form-box" [formGroup]="messageForm">
    <div class="form-group">
      <label for="name">Name <app-required-star></app-required-star></label>
      <input type="text" class="form-control" id="name" formControlName="name"
        aria-required="true" />
    </div>
    <div class="form-group">
      <label for="email">Email <app-required-star></app-required-star></label>
      <input type="text" class="form-control" id="email" formControlName="email"
        aria-required="true" />
    </div>
    <div class="form-group">
      <label for="message">Message <app-required-star></app-required-star></label>
      <textarea type="text" class="form-control" id="message" name="message"
        rows="3" formControlName="message"
        aria-required="true"></textarea>
    </div>
    <div>
      <button type="button" class="btn" (click)="onSubmit()"
        [disabled]="messageForm.invalid">
        Join Us
      </button>
    </div>
  </form>
</div>

<div class="bg2">
  <div class="titles">
    <h2 class="title" tabindex="0">Thank You to Our Community Supporters</h2>
  </div>
  <div class="carousel" tabindex="0">
    <ivy-carousel [images]="partners" [margin]="20"
      [arrowsOutside]="arrowsOutside" [borderRadius]="20"
      [cellWidth]="200" [height]="300">
    </ivy-carousel>
  </div>
</div>
