<div class="card cardBox">
    <div class="row no-gutters d-flex nowrap">
        <div class="col-6">
            <button class="btn btn-select-all" (click)="selectAll()" placement="top" ngbTooltip="Select All Dates">Select All</button>
        </div>
        <div class="col-6 justify-content-end">
            <button class="btn btn-reset" (click)="reset()" placement="top" ngbTooltip="Reset All Dates">Reset</button>
        </div>
    </div>
    <hr />
    <div class="row no-gutters d-flex nowrap">
        <div class="col-6">
            <div class="card-body">
            <h5 class="card-title" id="card-title">Month</h5>
            <div role="group" aria-labelledby="card-title">
                <div *ngFor="let sub of months; let i = index" class="form-check" >
                <input
                    type="checkbox"
                    name="months"
                    class="form-check-input"
                    id="{{ sub }}"
                    value="{{ sub }}"
                    [(ngModel)]="monthCheckMap[i]"
                />
                <label class="form-check-label" for="{{ sub }}">{{ sub }}</label>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col-6">
            <div class="card-body">
            <h5 class="card-title" id="card-title">Year</h5>
            <div role="group" aria-labelledby="card-title">
                <div *ngFor="let sub of years; let i = index" class="form-check" >
                <input
                    type="checkbox"
                    name="years"
                    class="form-check-input"
                    id="{{ sub }}"
                    [(ngModel)]="yearCheckMap[i]"
                />
                <label class="form-check-label" for="{{ sub }}">{{ sub }}</label>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-6">
            <button class="btn btn-apply" (click)="sendList()" placement="top" ngbTooltip="Apply Filters">Apply</button>
        </div>
    </div>
</div>
  