/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$client-theme-primary: mat-palette($mat-blue);
$client-theme-accent: mat-palette($mat-blue, A200, A100, A400);
$client-theme-theme: mat-light-theme(
  $client-theme-primary,
  $client-theme-accent
);
@include angular-material-theme($client-theme-theme);

// $primary-color: rgb(22, 87, 136);
$primary-color: white;
$secondary-color: #007faa;
$dark-color: rgb(7, 27, 48);
$grey-color: #dddddd;

$background-color1: white;
$background-color2: rgb(240, 240, 240);

// $navigation-color: white;
$navigation-color: rgb(77, 77, 77);
$navigation-accent-color: #ccc;

$footer-text-color: rgb(192, 192, 192);

$error-red: rgb(255, 26, 26);

:root {
  --unit-1: 4px;
  --elevation-1: 1;
  --min-height-carousel: calc(var(--unit-1) * 50);
  --color-brand-1: black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 35px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

fa-icon {
  color: white;
  font-size: 25px;
  margin: 0 10px;
}

.btn {
  height: 35px;
  margin: 20px;
  background-color: $secondary-color;
  color: white;
}

.btn:hover {
  border-color: $secondary-color;
  color: $secondary-color;
  background-color: white;
}

.bottom-left {
  width: 300px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.error-label{
    width: auto;
    color: $error-red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

[tabindex] {
  outline: none !important;
}