<div class="card cardBox">
    <div class="row">
      <div class="col-md-3">
        <div *ngIf="restaurant.logo_url">
          <img
            src="{{ restaurant.logo_url }}"
            class="card-img"
            alt="{{ restaurant.name }}"
          />
        </div>
        <div *ngIf="!restaurant.logo_url">
          <img
            src="../../../assets/images/find_dining_logo.png"
            class="card-img"
            alt="{{ restaurant.name }}"
          />
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ restaurant.name | titlecase }}</h2>
          <p class="card-text">
            {{ cuisineList | titlecase }} •
            {{ pricepoint | titlecase }}
          </p>
          <p class="card-text">
            {{ serviceList | titlecase }}
          </p>
          <div class="row" *ngIf="role != 'BU' && role != 'RO'">
            <div class="col">
            </div>
            <div class="col">
              <div class="row-button">
                <a
                class="btn"
                [routerLink]="['/restaurant']"
                [queryParams]="{
                  restaurantId: restaurant._id
                }"
                placement="top" ngbTooltip="Visit Restaurant Page"
              >
                View Restaurant
              </a>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="role == 'BU' || role == 'RO'">
            <div class="col">
            </div>
            <div class="col">
              <div class="row-button">
                <a
                  class="btn"
                  [routerLink]="['/restaurant']"
                  [queryParams]="{
                    restaurantId: restaurant._id
                  }"
                  placement="top" ngbTooltip="Visit Restaurant Page"
                >
                  View Restaurant
                </a>
              </div>
              <div class="row-button">
                <button
                  class="btn" (click)="addFavourite(restaurant._id)"
                  placement="top" ngbTooltip="Add Restaurant as Favourite"
                  [disabled]="favourited"
                >
                  Add Favourite
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
