@import "src/styles";

.cardBox {
  width: 600px;
  height: auto;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;

  @media screen and (max-width: 1000px) {
    width: auto;
  }
}

.cardBox::-webkit-scrollbar {
  display: none;
}

.card-img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  text-align: left;
  //width: 500px;
}

.card-title-mobile-wrapper {
  display: none;
}

.card-text {
  font-size: 15px;
  margin: 0;
  //width: 400px;
}

.card-text-mobile-wrapper {
  display: none;
}

.btn {
  height: fit-content;
  min-height: 40px;
  margin: 5px;
  background-color: $secondary-color;
  color: white;
}

.row-button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn:disabled {
  background-color: #84bcdb;
}

.btn:disabled:hover {
  background-color: #84bcdb;
  color: white;
  border-color: #84bcdb;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  //gap: 5px;
}

@media screen and (max-width: 767px) {

.cardBox {
  max-width: 600px;
}

.card-body {
  padding: 0;
}

.card-title {
  display: none;
  width: 100px;
}

.card-text {
  display: none;
}

.card-title-mobile-wrapper {
  display: block;
  width: 100%;
}

.card-title-mobile {
  line-height: 30px;
  padding-left: 10px;
  text-align: center;
  //word-break: break-all;
}

.card-text-mobile-wrapper {
  display: block;
  width: 65%;
  padding-top: 10px;
}

.card-text-mobile {
  font-size: 15px;
  margin: 0;
  padding-right: 10px;
}

.btn-container {
  flex-direction: column;
  align-items: flex-end;
  //gap: 0;
}

.buttons {
  width: 100%;
}

.btn {
  width: 100%;
}

}

@media screen and (max-width: 400px) {

.cardBox {
  margin: 10px 0px;
}

.card-title-mobile {
  font-size: 9vw;
}
  
.card-text-mobile {
  font-size: 4vw;
}

.btn {
  font-size: 4vw;
}

}

@media screen and (max-width: 332px) {
  
.cardBox {
  width: 100%;
}

.card-title-mobile {
  font-size: 7vw;
}

}